acme.bar_field = 955
acme.bar_field_mult = 1
acme.bar_sfield = b
acme.collection = ACME
acme.contrib_sys = III - Sierra
acme.delete_field_tags = [856,852,9..]
acme.description = Acme University 
acme.digitizing_source = ia
acme.enum_field = 955
acme.enum_sfield = v
acme.ftps_account = ht-uc
acme.namespace = ia
acme.oclc_field = 035a
acme.oclc_function = get_oclc_num
abc-1.source = ACME
acme.sysnum_function = sdr_id_from_001
acme.sysnum_separator = .
