acme-2.bar_field = 955
acme-2.bar_sfield = b
acme-2.campus_code = acme
acme-2.collection = ACME
acme-2.contrib_sys = Alma
acme-2.delete_field_tags = [856,852,9..]
acme-2.description = Acme Test University
acme-2.digitizing_source = acme
acme-2.enum_field = 955
acme-2.enum_sfield = v
acme-2.namespace = acme
acme-2.oclc_field = 035a
acme-2.oclc_function = get_oclc_num
acme-2.previous_contrib_sys = [III]
acme-2.previous_sys = [(ACME)III]
acme-2.previous_sys_field = 035z
acme-2.source = ACME
acme-2.sysnum_function = sdr_id_from_001
acme-2.sysnum_separator = .
