acme.bar_field = 955 
acme.bar_sfield = b
acme.collection = ACME
acme.contrib_sys = III
acme.delete_field_tags = [856,852,9..]
acme.description = Acme Test University
acme.digitizing_source = acme
acme.enum_field = 955
acme.enum_sfield = v
acme.ftps_account = ht-uc
acme.namespace = acme
acme.oclc_field = 035a
acme.oclc_function = get_oclc_num
acme.source = ACME
acme.sysnum_function = sdr_id_from_001
acme.sysnum_separator = .
