ajax-2.bar_field = 955
ajax-2.bar_field_mult = 1
ajax-2.bar_sfield = b
ajax-2.campus_code = ajax
ajax-2.collection = AJAX
ajax-2.contrib_sys = Alma
ajax-2.delete_field_tags = [856,852,9..]
ajax-2.description = Ajax Test University
ajax-2.digitizing_source = ajax
ajax-2.enum_field = 955
ajax-2.enum_sfield = v
ajax-2.namespace = ajax
ajax-2.oclc_field = 035a
ajax-2.oclc_function = get_oclc_num
ajax-2.previous_contrib_sys = [Aleph]
ajax-2.previous_sys = [(AJAX)Aleph]
ajax-2.previous_sys_field = 035z
ajax-2.source = AJAX
ajax-2.sysnum_function = sdr_id_from_001
ajax-2.sysnum_separator = .
