ajax.bar_field = 955
ajax.bar_field_mult = 1
ajax.bar_sfield = b
ajax.campus_code = ajax
ajax.collection = AJAX
ajax.contrib_sys = Aleph
ajax.delete_field_tags = [856,852,9..]
ajax.description = Ajax Test University
ajax.digitizing_source = ajax
ajax.enum_field = 955
ajax.enum_sfield = v
ajax.namespace = ajax
ajax.oclc_field = 035a
ajax.oclc_function = get_oclc_num
ajax.source = AJAX
ajax.sysnum_function = sdr_id_from_001
ajax.sysnum_separator = .
