aztes-1.bar_field = 955
aztes-1.bar_sfield = b
aztes-1.campus_code = aztes
aztes-1.collection = AZTES
aztes-1.contrib_sys = Alma
aztes-1.delete_field_tags = [856,852,9..]
aztes-1.description = Arizona State University
aztes-1.digitizing_source = asu
aztes-1.enum_field = 955
aztes-1.enum_sfield = v
aztes-1.ftps_account = ht-aztes
aztes-1.namespace = asu1
aztes-1.oclc_field = 035a
aztes-1.oclc_function = get_oclc_num
aztes-1.source = AZTES
aztes-1.sysnum_function = sdr_id_from_001
aztes-1.sysnum_separator = .
