bc-3.bar_field = 955
bc-3.bar_sfield = b
bc-3.campus_code = ia-bc 
bc-3.collection = IBC
bc-3.contrib_sys = Alma
bc-3.delete_field_tags = [856,852,9..]
bc-3.description = Boston College Born Digital Items
bc-3.digitizing_source = borndigital
bc-3.enum_field = 955
bc-3.enum_sfield = v
bc-3.ftps_account = ht-bc
bc-3.ia_id_field = 955
bc-3.ia_id_sfield = q
bc-3.namespace = ia
bc-3.oclc_field = 035a
bc-3.oclc_function = get_oclc_num
bc-3.source = MChB 
bc-3.sysnum_function = sdr_id_from_001
bc-3.sysnum_separator = .
