chi.bar_field = 955 
chi.bar_field_mult = 1   
chi.bar_sfield = b
chi.campus_code = chi
chi.collection = CHI
chi.contrib_sys = SirsiDynix - Horizon
chi.delete_field_tags = [856,852,9..]
chi.description = University of Chicago
chi.digitizing_source = google
chi.enum_field = 955
chi.enum_sfield = v
chi.ftps_account = ht-chi
chi.namespace = chi
chi.oclc_field = 035a
chi.oclc_function = get_oclc_num
chi.source = CHI
chi.sysnum_function = sdr_id_from_001
