coo-5.bar_field = 955
coo-5.bar_sfield = b
coo-5.campus_code = coo
coo-5.collection = COO
coo-5.contrib_sys = FOLIO
coo-5.delete_field_tags = [856,852,9..]
coo-5.description = Cornell University
coo-5.digitizing_source = cornell
coo-5.enum_field = 955
coo-5.enum_sfield = v
coo-5.ftps_account = ht-coo
coo-5.namespace = coo
coo-5.oclc_field = 035a
coo-5.oclc_function = get_oclc_num
coo-5.previous_contrib_sys = [Ex_Libris_-_Voyager]
coo-5.previous_sys_field = 035z
coo-5.previous_sys = [(COO)Voyager]
coo-5.skip_if_no_oclc_number = 0
coo-5.source = COO
coo-5.sysnum_function = sdr_id_from_001
coo-5.sysnum_separator = .
