coo-ms.bar_field = 955
coo-ms.bar_sfield = b
coo-ms.campus_code = coo-ms
coo-ms.collection = COO
coo-ms.contrib_sys = Ex Libris - Voyager
coo-ms.delete_field_tags = [856,852,9..]
coo-ms.description = Cornell University
coo-ms.digitizing_source = cornell-ms
coo-ms.enum_field = 955
coo-ms.enum_sfield = v
coo-ms.ftps_account = ht-coo
coo-ms.namespace = coo
coo-ms.oclc_field = 035a
coo-ms.oclc_function = get_oclc_num
coo-ms.skip_if_no_oclc_number = 0
coo-ms.source = COO
coo-ms.sysnum_function = sdr_id_from_001
