coo-loc.bar_field = 955
coo-loc.bar_sfield = b
coo-loc.campus_code = coo-loc
coo-loc.collection = COO
coo-loc.contrib_sys = Ex Libris - Voyager
coo-loc.delete_field_tags = [856,852,9..]
coo-loc.description = Cornell University
coo-loc.digitizing_source = cornell
coo-loc.enum_field = 955
coo-loc.enum_sfield = v
coo-loc.ftps_account = ht-coo
coo-loc.namespace = coo
coo-loc.oclc_field = 035a
coo-loc.oclc_function = get_oclc_num
coo-loc.skip_if_no_oclc_number = 0
coo-loc.source = COO
coo-loc.sysnum_function = sdr_id_from_001
