coo-6.bar_field = 955
coo-6.bar_sfield = b
coo-6.campus_code = coo
coo-6.collection = COO
coo-6.contrib_sys = FOLIO
coo-6.delete_field_tags = [856,852,9..]
coo-6.description = Cornell University
coo-6.digitizing_source = google
coo-6.enum_field = 955
coo-6.enum_sfield = v
coo-6.ftps_account = ht-coo
coo-6.namespace = coo
coo-6.oclc_field = 035a
coo-6.oclc_function = get_oclc_num
coo-6.previous_contrib_sys = [unknown]  
coo-6.previous_sys_field = 035z
coo-6.previous_sys = [(COO)Voyager]
coo-6.skip_if_no_oclc_number = 0
coo-6.source = COO
coo-6.sysnum_function = sdr_id_from_001
coo-6.sysnum_separator = .
