coo.bar_field = 955
coo.bar_sfield = b
coo.campus_code = coo
coo.collection = COO
coo.contrib_sys = unknown
coo.delete_field_tags = [856,852,9..]
coo.description = Cornell University
coo.digitizing_source = google
coo.enum_field = 955
coo.enum_sfield = v
coo.ftps_account = ht-coo
coo.namespace = coo
coo.oclc_field = 035a
coo.oclc_function = get_oclc_num
coo.skip_if_no_oclc_number = 0
coo.source = COO
coo.sysnum_function = sdr_id_from_001
