cou-1.bar_field = 945
cou-1.bar_sfield = i
cou-1.bar_field_mult = 1 
cou-1.campus_code = cou
cou-1.collection = COU
cou-1.contrib_sys = FOLIO
cou-1.delete_field_tags = [856,852,9..]
cou-1.description = University of Colorado Boulder
cou-1.digitizing_source = google
cou-1.enum_field = 945
cou-1.enum_sfield = c 
cou-1.ftps_account = ht-cou
cou-1.namespace = cub
cou-1.oclc_field = 035a
cou-1.oclc_function = get_oclc_num
cou-1.source = COU 
cou-1.sysnum_function = sdr_id_from_001
cou-1.sysnum_separator = .
