ctw-2.bar_field = 955
ctw-2.bar_sfield = b
ctw-2.campus_code = ctw
ctw-2.collection = CTW
ctw-2.contrib_sys = Alma
ctw-2.delete_field_tags = [856,852,9..]
ctw-2.description = Wesleyan University
ctw-2.digitizing_source = ia
ctw-2.enum_field = 955
ctw-2.enum_sfield = v
ctw-2.ftps_account = ht-ctw
ctw-2.ia_id_field = 955
ctw-2.ia_id_sfield = q
ctw-2.namespace = ia
ctw-2.oclc_field = 035a
ctw-2.oclc_function = get_oclc_num
ctw-2.source = CTW
ctw-2.sysnum_function = sdr_id_from_001
ctw-2.sysnum_separator = .
