ctw-1.bar_field = 955
ctw-1.bar_sfield = b
ctw-1.campus_code = ctw
ctw-1.collection = CTW
ctw-1.contrib_sys = Alma
ctw-1.delete_field_tags = [856,852,9..]
ctw-1.description = Wesleyan University
ctw-1.digitizing_source = wesleyan
ctw-1.enum_field = 955
ctw-1.enum_sfield = v
ctw-1.ftps_account = ht-ctw
ctw-1.namespace = wesu
ctw-1.oclc_field = 035a
ctw-1.oclc_function = get_oclc_num
ctw-1.source = CTW
ctw-1.sysnum_function = sdr_id_from_001
ctw-1.sysnum_separator = .
