cul-1.bar_field = 945
cul-1.bar_sfield = i 
cul-1.campus_code = cul
cul-1.collection = ucbk
cul-1.contrib_sys = III
cul-1.delete_field_tags = [856,852,9..]
cul-1.description = CDL-CUL
cul-1.digitizing_source = google
cul-1.enum_field = 945
cul-1.enum_sfield = c
cul-1.ftps_account = ht-uc
cul-1.namespace = uc1
cul-1.oclc_field = 001
cul-1.oclc_function = get_oclc_num
cul-1.source = UC
cul-1.sysnum_field = 907
cul-1.sysnum_function = sdr_id_from_field
cul-1.sysnum_sfield = a
