dcu-1.bar_field = 952
dcu-1.bar_sfield = h
dcu-1.campus_code = dcu
dcu-1.collection = DCU
dcu-1.contrib_sys = Alma
dcu-1.delete_field_tags = [856,852,9..]
dcu-1.description = Catholic University  
dcu-1.digitizing_source = cua
dcu-1.enum_field = 952
dcu-1.enum_sfield = v
dcu-1.ftps_account = ht-dcu
dcu-1.namespace = cua
dcu-1.oclc_field = 035a
dcu-1.oclc_function = get_oclc_num
dcu-1.source = DCU
dcu-1.sysnum_function = sdr_id_from_001
dcu-1.sysnum_separator = .
