duke-2.bar_field = 955
duke-2.bar_sfield = b
duke-2.bar_field_mult = 1  
duke-2.campus_code = ia-duke
duke-2.collection = IDUKE
duke-2.contrib_sys = Alma
duke-2.delete_field_tags = [856,852,9..]
duke-2.description = Duke University (IA)
duke-2.digitizing_source = ia
duke-2.enum_field = 955
duke-2.enum_sfield = v
duke-2.ftps_account = ht-dul
duke-2.ia_id_field = 955
duke-2.ia_id_sfield = q
duke-2.namespace = dul1
duke-2.oclc_field = 035a
duke-2.oclc_function = get_oclc_num
duke-2.source = DUL
duke-2.sysnum_function = sdr_id_from_001
duke-2.sysnum_separator = .
