emu-2.bar_field = 999
emu-2.bar_sfield = i
emu-2.campus_code = emu
emu-2.collection = GEU
emu-2.contrib_sys = ALMA
emu-2.delete_field_tags = [852,9..]
emu-2.description = Emory University
emu-2.digitizing_source = geu
emu-2.enum_field = 999
emu-2.enum_sfield = a
emu-2.ftps_account = ht-emory
emu-2.ia_id_field = 955
emu-2.ia_id_sfield = q
emu-2.namespace = ia
emu-2.oclc_field = 035a
emu-2.oclc_function = get_oclc_num
emu-2.previous_sys_field = 035z
emu-2.previous_sys = [(GEU)Aleph]
emu-2.previous_contrib_sys = [Aleph]
emu-2.source = GEU
emu-2.sysnum_function = sdr_id_from_001
