emu-loc.bar_field = 999
emu-loc.bar_sfield = i
emu-loc.bar_field_mult = 1
emu-loc.campus_code = emu
emu-loc.collection = GEU
emu-loc.contrib_sys = ALMA
emu-loc.delete_field_tags = [852,9..]
emu-loc.description = Emory University
emu-loc.digitizing_source = geu
emu-loc.enum_field = 999
emu-loc.enum_sfield = a
emu-loc.ftps_account = ht-emory
emu-loc.namespace = emu
emu-loc.oclc_field = 035a
emu-loc.oclc_function = get_oclc_num
emu-loc.previous_sys_field = 035z
emu-loc.previous_sys = [(GEU)Aleph]
emu-loc.previous_contrib_sys = [Aleph]
emu-loc.source = GEU
emu-loc.sysnum_function = sdr_id_from_001
