fmu-1.bar_field = 955
fmu-1.bar_sfield = b
fmu-1.bar_field_mult = 1
fmu-1.campus_code = fmu
fmu-1.collection = FMU
fmu-1.contrib_sys = Ex Libris - Alma
fmu-1.delete_field_tags = [856,852,9..]
fmu-1.description = University of Miami
fmu-1.digitizing_source = miami
fmu-1.enum_field = 955
fmu-1.enum_sfield = v
fmu-1.ftps_account = ht-fmu
fmu-1.namespace = uml
fmu-1.oclc_field = 035a
fmu-1.oclc_function = get_oclc_num
fmu-1.source = FMU
fmu-1.sysnum_function = sdr_id_from_001
