frick-loc.bar_field = 999
frick-loc.bar_sfield = a
frick-loc.campus_code = frick-loc
frick-loc.collection = NNFR
frick-loc.contrib_sys = III Millennium
frick-loc.delete_field_tags = [540,852,9..]
frick-loc.description = Frick Collection
frick-loc.digitizing_source = Frick
frick-loc.enum_field = 955
frick-loc.enum_sfield = v
frick-loc.ftps_account = ht-frick
frick-loc.ia_id_field = 999
frick-loc.ia_id_sfield = b
frick-loc.namespace = ia
frick-loc.oclc_field = 035a
frick-loc.oclc_function = get_oclc_num
frick-loc.source = frick
frick-loc.sysnum_function = sdr_id_from_001
