gu-1.bar_field = 955
gu-1.bar_sfield = b
gu-1.campus_code = gu
gu-1.collection = GU
gu-1.contrib_sys = Alma
gu-1.delete_field_tags = [856,852,9..]
gu-1.description = University of Georgia
gu-1.digitizing_source = google
gu-1.enum_field = 955
gu-1.enum_sfield = v
gu-1.ftps_account = ht-gu
gu-1.namespace = uga1
gu-1.oclc_field = 035a
gu-1.oclc_function = get_oclc_num
gu-1.source = GU
gu-1.sysnum_function = sdr_id_from_001
gu-1.sysnum_separator = .
