gwla.bar_field = 955
gwla.bar_sfield = b
gwla.campus_code = gwla
gwla.collection = GWLA
gwla.contrib_sys = unknown
gwla.delete_field_tags = [583,856,852,9..]
gwla.description = University of Michigan GWLA
gwla.digitizing_source = 
gwla.enum_field = 955|950
gwla.enum_sfield = v
gwla.ftps_account = ht-miu
gwla.namespace = NONE
gwla.nuc = MiU
gwla.oclc_field = 035a
gwla.oclc_function = get_oclc_num
gwla.source = 
gwla.sysnum_function = sdr_id_from_001
