hvd-3.bar_field = 955
hvd-3.bar_sfield = b
hvd-3.campus_code = hvd
hvd-3.collection = HVD
hvd-3.contrib_sys = Alma
hvd-3.delete_field_tags = [856,852,9..]
hvd-3.description = Harvard University
hvd-3.digitizing_source = google
hvd-3.enum_field = 955
hvd-3.enum_sfield = v
hvd-3.ftps_account = ht-hvd
hvd-3.namespace = hvd
hvd-3.oclc_field = 035a
hvd-3.oclc_function = get_oclc_num
hvd-3.previous_contrib_sys = [unknown]
hvd-3.previous_sys = [(MH)Aleph]
hvd-3.previous_sys_field = 035z
hvd-3.skip_if_no_oclc_number = 0
hvd-3.source = HVD
hvd-3.sysnum_function = sdr_id_from_001
hvd-3.sysnum_separator = .
