hvd-2.bar_field = 955
hvd-2.bar_sfield = b
hvd-2.campus_code = hvd
hvd-2.collection = HVD
hvd-2.contrib_sys = Ex Libris - Aleph
hvd-2.delete_field_tags = [856,852,9..]
hvd-2.description = Harvard University
hvd-2.digitizing_source = harvard
hvd-2.enum_field = 955
hvd-2.enum_sfield = v
hvd-2.ftps_account = ht-hvd
hvd-2.namespace = hvd
hvd-2.oclc_field = 035a
hvd-2.oclc_function = get_oclc_num
hvd-2.skip_if_no_oclc_number = 0
hvd-2.source = HVD
hvd-2.sysnum_function = sdr_id_from_001
