hvd.bar_field = 955
hvd.bar_sfield = b
hvd.campus_code = hvd
hvd.collection = HVD
hvd.contrib_sys = unknown
hvd.delete_field_tags = [856,852,9..]
hvd.description = Harvard University
hvd.digitizing_source = google
hvd.enum_field = 955
hvd.enum_sfield = v
hvd.ftps_account = ht-hvd
hvd.namespace = hvd
hvd.oclc_field = 035a
hvd.oclc_function = get_oclc_num
hvd.skip_if_no_oclc_number = 0
hvd.source = HVD
hvd.sysnum_function = sdr_id_from_001
