ia-aeu.bar_field = 955
ia-aeu.bar_sfield = b
ia-aeu.bar_field_mult = 1
ia-aeu.campus_code = ia-aeu
ia-aeu.collection = AEU
ia-aeu.contrib_sys = SirsiDynix - Symphony
ia-aeu.delete_field_tags = [856,852,9..]
ia-aeu.description = University of Alberta
ia-aeu.digitizing_source = ia
ia-aeu.enum_field = 955
ia-aeu.enum_sfield = v
ia-aeu.ftps_account = ht-aeu
ia-aeu.ia_id_field = 955
ia-aeu.ia_id_sfield = q
ia-aeu.namespace = aeu
ia-aeu.oclc_field = 035
ia-aeu.oclc_function = get_oclc_num
ia-aeu.source = AEU
ia-aeu.sysnum_function = sdr_id_from_001
