ia-bc.bar_field = 955
ia-bc.bar_sfield = b
ia-bc.collection = IBC
ia-bc.contrib_sys = Ex Libris - Aleph
ia-bc.delete_field_tags = [856,852,9..]
ia-bc.description = Boston College (IA)
ia-bc.digitizing_source = ia
ia-bc.enum_field = 955
ia-bc.enum_sfield = v
ia-bc.ftps_account = ht-bc
ia-bc.ia_id_field = 955
ia-bc.ia_id_sfield = q
ia-bc.namespace = bc
ia-bc.oclc_field = 035a
ia-bc.oclc_function = get_oclc_num
ia-bc.source = MChB
ia-bc.sysnum_function = sdr_id_from_001
ia-bc.sysnum_separator = .
