ia-bc-loc.bar_field = 955
ia-bc-loc.bar_sfield = b
ia-bc-loc.collection = IBC
ia-bc-loc.contrib_sys = Ex Libris - Aleph
ia-bc-loc.delete_field_tags = [856,852,9..]
ia-bc-loc.description = Boston College (BC)
ia-bc-loc.digitizing_source = bc
ia-bc-loc.enum_field = 955
ia-bc-loc.enum_sfield = v
ia-bc-loc.ftps_account = ht-bc
ia-bc-loc.ia_id_field = 955
ia-bc-loc.ia_id_sfield = q
ia-bc-loc.namespace = bc
ia-bc-loc.oclc_field = 035a
ia-bc-loc.oclc_function = get_oclc_num
ia-bc-loc.source = MChB
ia-bc-loc.sysnum_function = sdr_id_from_001
ia-bc-loc.sysnum_separator = . 
