ia-coo-2.bar_field = 955
ia-coo-2.bar_sfield = b
ia-coo-2.campus_code = coo
ia-coo-2.collection = COO
ia-coo-2.contrib_sys = FOLIO
ia-coo-2.delete_field_tags = [856,852,9..]
ia-coo-2.description = Cornell University
ia-coo-2.digitizing_source = cornell-ms
ia-coo-2.enum_field = 955
ia-coo-2.enum_sfield = v
ia-coo-2.ftps_account = ht-coo
ia-coo-2.ia_id_field = 955
ia-coo-2.ia_id_sfield = q
ia-coo-2.namespace = coo1
ia-coo-2.oclc_field = 035a
ia-coo-2.oclc_function = get_oclc_num
ia-coo-2.previous_contrib_sys = [Ex_Libris_-_Aleph]
ia-coo-2.previous_sys_field = 035z
ia-coo-2.previous_sys = [(COO)Voyager]
ia-coo-2.skip_if_no_oclc_number = 0
ia-coo-2.source = COO
ia-coo-2.sysnum_function = sdr_id_from_001
ia-coo-2.sysnum_separator = .
