ia-cmalg-loc.bar_field = 955
ia-cmalg-loc.bar_sfield = b
ia-cmalg-loc.campus_code = ia-cmalg-loc
ia-cmalg-loc.collection = GRI
ia-cmalg-loc.contrib_sys = Ex Libris - Alma
ia-cmalg-loc.delete_field_tags = [856,852,9..]
ia-cmalg-loc.description = Getty Research Institute (GRI)
ia-cmalg-loc.digitizing_source = getty
ia-cmalg-loc.enum_field = 955
ia-cmalg-loc.enum_sfield = v
ia-cmalg-loc.ftps_account = ht-getty
ia-cmalg-loc.ia_id_field = 955
ia-cmalg-loc.ia_id_sfield = q
ia-cmalg-loc.namespace = gri
ia-cmalg-loc.oclc_field = 035a
ia-cmalg-loc.oclc_function = get_oclc_num
ia-cmalg-loc.source = CMALG
ia-cmalg-loc.sysnum_function = sdr_id_from_001
