ia-coo.bar_field = 955
ia-coo.bar_sfield = b
ia-coo.campus_code = ia-coo
ia-coo.collection = COO
ia-coo.contrib_sys = Ex Libris - Voyager
ia-coo.delete_field_tags = [856,852,9..]
ia-coo.description = Cornell University
ia-coo.digitizing_source = cornell-ms
ia-coo.enum_field = 955
ia-coo.enum_sfield = v
ia-coo.ftps_account = ht-coo
ia-coo.ia_id_field = 955
ia-coo.ia_id_sfield = q
ia-coo.namespace = coo1
ia-coo.oclc_field = 035a
ia-coo.oclc_function = get_oclc_num
ia-coo.skip_if_no_oclc_number = 0
ia-coo.source = COO
ia-coo.sysnum_function = sdr_id_from_001
