ia-cmalg.bar_field = 955
ia-cmalg.bar_sfield = b
ia-cmalg.collection = GRI
ia-cmalg.contrib_sys = Ex Libris - Alma
ia-cmalg.delete_field_tags = [856,852,9..]
ia-cmalg.description = Getty Research Institute (GRI)
ia-cmalg.digitizing_source = ia
ia-cmalg.enum_field = 955
ia-cmalg.enum_sfield = v
ia-cmalg.ftps_account = ht-getty
ia-cmalg.ia_id_field = 955
ia-cmalg.ia_id_sfield = q
ia-cmalg.namespace = gri
ia-cmalg.oclc_field = 035a
ia-cmalg.oclc_function = get_oclc_num
ia-cmalg.source = CMALG
ia-cmalg.sysnum_function = sdr_id_from_001
