ia-duke.bar_field = 955
ia-duke.bar_sfield = b
ia-duke.bar_field_mult = 1
ia-duke.collection = IDUKE
ia-duke.contrib_sys = unknown
ia-duke.delete_field_tags = [856,852,9..]
ia-duke.description = Duke University (IA)
ia-duke.digitizing_source = ia
ia-duke.enum_field = 955
ia-duke.enum_sfield = v
ia-duke.ftps_account = ht-dul
ia-duke.ia_id_field = 955
ia-duke.ia_id_sfield = q
ia-duke.namespace = dul1
ia-duke.oclc_field = 035a
ia-duke.oclc_function = get_oclc_num
ia-duke.source = DUL
ia-duke.sysnum_function = sdr_id_from_001
ia-duke.sysnum_separator = .
