ia-emu-loc.bar_field = 999
ia-emu-loc.bar_sfield = i
ia-emu-loc.collection = GEU
ia-emu-loc.contrib_sys = Ex Libris - Aleph
ia-emu-loc.delete_field_tags = [852,9..]
ia-emu-loc.description = Emory University
ia-emu-loc.digitizing_source = geu
ia-emu-loc.enum_field = 999
ia-emu-loc.enum_sfield = a
ia-emu-loc.ftps_account = ht-emory
ia-emu-loc.ia_id_field = 955
ia-emu-loc.ia_id_sfield = q
ia-emu-loc.namespace = ia
ia-emu-loc.oclc_field = 035a
ia-emu-loc.oclc_function = get_oclc_num
ia-emu-loc.source = GEU
ia-emu-loc.sysnum_function = sdr_id_from_001
