ia-loc-20130320.bar_field = 950
ia-loc-20130320.bar_sfield = b
ia-loc-20130320.campus_code = ia-loc
ia-loc-20130320.collection = ILOC
ia-loc-20130320.contrib_sys = unknown
ia-loc-20130320.delete_field_tags = [852,9..]
ia-loc-20130320.description = Library of Congress (IA)
ia-loc-20130320.digitizing_source = ia
ia-loc-20130320.enum_field = 950
ia-loc-20130320.enum_fix = 1
ia-loc-20130320.enum_sfield = v
ia-loc-20130320.ftps_account = ht-loc
ia-loc-20130320.ia_id_field = 950
ia-loc-20130320.ia_id_sfield = q
ia-loc-20130320.namespace = loc
ia-loc-20130320.oclc_field = 035a
ia-loc-20130320.oclc_function = get_oclc_num
ia-loc-20130320.source = LOC
ia-loc-20130320.sysnum_function = sdr_id_from_001
