ia-loc.bar_field = 955
ia-loc.bar_sfield = b
ia-loc.collection = ILOC
ia-loc.contrib_sys = unknown
ia-loc.delete_field_tags = [852,9..]
ia-loc.description = Library of Congress (IA)
ia-loc.digitizing_source = ia
ia-loc.enum_field = 955
ia-loc.enum_fix = 1
ia-loc.enum_sfield = v
ia-loc.ftps_account = ht-loc
ia-loc.ia_id_field = 955
ia-loc.ia_id_sfield = q
ia-loc.namespace = loc
ia-loc.oclc_field = 035a
ia-loc.oclc_function = get_oclc_num
ia-loc.source = LOC
ia-loc.sysnum_function = sdr_id_from_001
