ia-mwica.bar_field = 955
ia-mwica.bar_sfield = b
ia-mwica.campus_code = ia-mwica
ia-mwica.collection = MWICA
ia-mwica.contrib_sys = III - Millenium
ia-mwica.delete_field_tags = [856,852,9..]
ia-mwica.description = Clark Art Institute
ia-mwica.digitizing_source = clark
ia-mwica.enum_field = 955
ia-mwica.enum_sfield = v
ia-mwica.ftps_account = ht-mwica
ia-mwica.ia_id_field = 955
ia-mwica.ia_id_sfield = q
ia-mwica.namespace = caia
ia-mwica.oclc_field = 035a
ia-mwica.oclc_function = get_oclc_num
ia-mwica.source = MWICA
ia-mwica.sysnum_function = sdr_id_from_001
