ia-nnc-loc.bar_field = 955
ia-nnc-loc.bar_sfield = b
ia-nnc-loc.collection = INNC
ia-nnc-loc.contrib_sys = Ex Libris - Voyager
ia-nnc-loc.delete_field_tags = [540,852,9..]
ia-nnc-loc.description = Columbia University
ia-nnc-loc.digitizing_source = nnc
ia-nnc-loc.enum_field = 955
ia-nnc-loc.enum_sfield = v
ia-nnc-loc.ftps_account = ht-nnc
ia-nnc-loc.ia_id_field = 955
ia-nnc-loc.ia_id_sfield = q
ia-nnc-loc.namespace = nnc2
ia-nnc-loc.oclc_field = 035a
ia-nnc-loc.oclc_function = get_oclc_num
ia-nnc-loc.source = NNC
ia-nnc-loc.sysnum_function = sdr_id_from_001
