ia-ncsu.bar_field = 955
ia-ncsu.bar_sfield = b
ia-ncsu.collection = INCSU
ia-ncsu.contrib_sys = SIRSI
ia-ncsu.delete_field_tags = [856,852,9..]
ia-ncsu.description = North Carolina State University (IA)
ia-ncsu.digitizing_source = ia
ia-ncsu.enum_field = 955
ia-ncsu.enum_sfield = v
ia-ncsu.ftps_account = ht-ncsu
ia-ncsu.ia_id_field = 955
ia-ncsu.ia_id_sfield = q
ia-ncsu.namespace = ncs1
ia-ncsu.oclc_field = 035a
ia-ncsu.oclc_function = get_oclc_num
ia-ncsu.source = NCSU
ia-ncsu.sysnum_field = 918
ia-ncsu.sysnum_function = sdr_id_from_field
ia-ncsu.sysnum_sfield = a
