ia-nrlf-2.bar_field = 950
ia-nrlf-2.bar_sfield = q
ia-nrlf-2.campus_code = ia-nrlf-2
ia-nrlf-2.collection = INRLF
ia-nrlf-2.contrib_sys = III - Millenium
ia-nrlf-2.delete_field_tags = [856,852,9..]
ia-nrlf-2.description = CDL-NRLF (IA)
ia-nrlf-2.digitizing_source = ia
ia-nrlf-2.enum_field = 950
ia-nrlf-2.enum_sfield = c
ia-nrlf-2.ftps_account = ht-uc
ia-nrlf-2.ia_id_field = 950
ia-nrlf-2.ia_id_sfield = p
ia-nrlf-2.namespace = uc2
ia-nrlf-2.oclc_field = 079a,001
ia-nrlf-2.oclc_function = get_oclc_num
ia-nrlf-2.source = UC
ia-nrlf-2.sysnum_function = sdr_id_from_035
