ia-nnc.bar_field = 955
ia-nnc.bar_sfield = b
ia-nnc.campus_code = ia-nnc
ia-nnc.collection = INNC
ia-nnc.contrib_sys = Ex Libris - Voyager
ia-nnc.delete_field_tags = [856,852,9..]
ia-nnc.description = Columbia University (IA)
ia-nnc.digitizing_source = ia
ia-nnc.enum_field = 955
ia-nnc.enum_sfield = v
ia-nnc.ftps_account = ht-nnc
ia-nnc.ia_id_field = 955
ia-nnc.ia_id_sfield = q
ia-nnc.namespace = nnc2
ia-nnc.oclc_field = 035a
ia-nnc.oclc_function = get_oclc_num
ia-nnc.source = NNC
ia-nnc.sysnum_function = sdr_id_from_001
