ia-nrlf.bar_field = 995
ia-nrlf.bar_sfield = q
ia-nrlf.collection = INRLF
ia-nrlf.contrib_sys = III - Millenium
ia-nrlf.delete_field_tags = [856,852,9..]
ia-nrlf.description = CDL-NRLF (IA)
ia-nrlf.digitizing_source = ia
ia-nrlf.enum_field = 950
ia-nrlf.enum_sfield = c
ia-nrlf.ftps_account = ht-uc
ia-nrlf.ia_id_field = 995
ia-nrlf.ia_id_sfield = p
ia-nrlf.namespace = uc2
ia-nrlf.oclc_field = 079a,001
ia-nrlf.oclc_function = get_oclc_num
ia-nrlf.source = UC
ia-nrlf.sysnum_function = sdr_id_from_035
