ia-pst.bar_field = 955
ia-pst.bar_sfield = b
ia-pst.collection = IPST
ia-pst.contrib_sys = unknown
ia-pst.delete_field_tags = [856,852,9..]
ia-pst.description = Penn State (IA)
ia-pst.digitizing_source = ia
ia-pst.enum_field = 955
ia-pst.enum_sfield = v
ia-pst.ftps_account = ht-pst
ia-pst.ia_id_field = 955
ia-pst.ia_id_sfield = q
ia-pst.namespace = psia
ia-pst.oclc_field = 035a
ia-pst.oclc_function = get_oclc_num
ia-pst.source = PST
ia-pst.sysnum_function = sdr_id_from_001
ia-pst.sysnum_separator = .
