ia-qmm-2.bar_field = 955
ia-qmm-2.bar_sfield = b
ia-qmm-2.campus_code = ia-qmm
ia-qmm-2.collection = QMM
ia-qmm-2.contrib_sys = WMS
ia-qmm-2.delete_field_tags = [856,852,9..]
ia-qmm-2.description = McGill University
ia-qmm-2.digitizing_source = mcgill 
ia-qmm-2.enum_field = 955
ia-qmm-2.enum_sfield = v
ia-qmm-2.ia_id_field = 955
ia-qmm-2.ia_id_sfield = q 
ia-qmm-2.ftps_account = ht-qmm
ia-qmm-2.namespace = mcg
ia-qmm-2.oclc_field = 035
ia-qmm-2.oclc_function = get_oclc_num
ia-qmm-2.source = QMM
ia-qmm-2.sysnum_function = sdr_id_from_001
ia-qmm-2.sysnum_separator = .
