ia-qmm.bar_field = 955
ia-qmm.bar_sfield = b
ia-qmm.collection = QMM
ia-qmm.contrib_sys = Ex Libris - Aleph - 21
ia-qmm.delete_field_tags = [856,852,9..]
ia-qmm.description = McGill University
ia-qmm.digitizing_source = mcgill 
ia-qmm.enum_field = 955
ia-qmm.enum_sfield = v
ia-qmm.ia_id_field = 955
ia-qmm.ia_id_sfield = q 
ia-qmm.ftps_account = ht-qmm
ia-qmm.namespace = mcg
ia-qmm.oclc_field = 035
ia-qmm.oclc_function = get_oclc_num
ia-qmm.source = QMM
ia-qmm.sysnum_function = sdr_id_from_001
