ia-srlf.bar_field = 995
ia-srlf.bar_sfield = q
ia-srlf.collection = ISRLF
ia-srlf.contrib_sys = Ex Libris - Voyager
ia-srlf.delete_field_tags = [856,852,9..]
ia-srlf.description = CDL-SRLF (IA)
ia-srlf.digitizing_source = ia
ia-srlf.enum_field = 950
ia-srlf.enum_sfield = c
ia-srlf.ftps_account = ht-uc
ia-srlf.ia_id_field = 995
ia-srlf.ia_id_sfield = p
ia-srlf.namespace = uc2
ia-srlf.oclc_field = 035a
ia-srlf.oclc_function = get_oclc_num
ia-srlf.source = UC
ia-srlf.sysnum_function = sdr_id_from_001
