ia-tu.bar_field = 955
ia-tu.bar_sfield = b
ia-tu.campus_code = ia-tu
ia-tu.collection = MMET
ia-tu.contrib_sys = III - Millenium
ia-tu.delete_field_tags = [079,039,856,852,9..]
ia-tu.description = Tufts University
ia-tu.digitizing_source = ia
ia-tu.enum_field = 955
ia-tu.enum_sfield = v
ia-tu.ftps_account = ht-tu
ia-tu.ia_id_field = 955
ia-tu.ia_id_sfield = q
ia-tu.namespace = mmet
ia-tu.oclc_field = 001
ia-tu.oclc_function = get_oclc_num
ia-tu.source = MMeT
ia-tu.sysnum_field = 907
ia-tu.sysnum_function = sdr_id_from_field
ia-tu.sysnum_sfield = a
