ia-ucd.bar_field = 955
ia-ucd.bar_sfield = q
ia-ucd.bar_field_mult = 1 
ia-ucd.collection = IUCD
ia-ucd.contrib_sys = Ex Libris - Aleph
ia-ucd.delete_field_tags = [856,852,9..]
ia-ucd.description = CDL-UCD (IA)
ia-ucd.digitizing_source = ia
ia-ucd.enum_field = 955
ia-ucd.enum_sfield = v
ia-ucd.ftps_account=ht-uc
ia-ucd.ia_id_field = 955
ia-ucd.ia_id_sfield = p
ia-ucd.namespace = uc2
ia-ucd.oclc_field = 035a
ia-ucd.oclc_function = get_oclc_num_numeric
ia-ucd.source = UC
ia-ucd.sysnum_function = sdr_id_from_001
