ia-unc.bar_field = 955
ia-unc.bar_sfield = b
ia-unc.campus_code = unc
ia-unc.collection = IUNC
ia-unc.contrib_sys = Innovative Interfaces
ia-unc.delete_field_tags = [856,852,9..]
ia-unc.description = Univerisity of North Carolina (IA)
ia-unc.digitizing_source = ia
ia-unc.enum_field = 955
ia-unc.enum_sfield = v
ia-unc.ftps_account = ht-unc
ia-unc.ia_id_field = 955
ia-unc.ia_id_sfield = q
ia-unc.namespace = nc01
ia-unc.oclc_field = 035a
ia-unc.oclc_function = get_oclc_num
ia-unc.source = UNC
ia-unc.sysnum_function = sdr_id_from_001
ia-unc.sysnum_separator = .
