ia-ufl.bar_field = 955
ia-ufl.bar_sfield = b
ia-ufl.collection = IUFL
ia-ufl.contrib_sys = Ex Libris - Aleph
ia-ufl.delete_field_tags = [856,852,9..]
ia-ufl.description = University of Florida (IA)
ia-ufl.digitizing_source = ia
ia-ufl.enum_field = 955
ia-ufl.enum_sfield = v
ia-ufl.ftps_account = ht-ufl
ia-ufl.ia_id_field = 955
ia-ufl.ia_id_sfield = q
ia-ufl.namespace = ufl1
ia-ufl.oclc_field = 035a
ia-ufl.oclc_function = get_oclc_num
ia-ufl.skip_if_no_oclc_number = 1
ia-ufl.source = FU
ia-ufl.sysnum_function = sdr_id_from_001
