ia-ucla.bar_field = 950
ia-ucla.bar_sfield = q
ia-ucla.campus_code = ia-ucla
ia-ucla.collection = IUCLA
ia-ucla.contrib_sys = Ex Libris - Voyager
ia-ucla.delete_field_tags = [856,852,9..]
ia-ucla.description = CDL-UCLA (IA)
ia-ucla.digitizing_source = ia
ia-ucla.enum_field = 950
ia-ucla.enum_sfield = c
ia-ucla.ftps_account = ht-uc
ia-ucla.ia_id_field = 950
ia-ucla.ia_id_sfield = p
ia-ucla.namespace = uc2
ia-ucla.oclc_field = 035a
ia-ucla.oclc_function = get_oclc_num
ia-ucla.source = UC
ia-ucla.sysnum_function = sdr_id_from_001
