ia-ucw.bar_field = 955
ia-ucw.bar_sfield = b
ia-ucw.campus_code = ia-ucw
ia-ucw.collection = CTU
ia-ucw.contrib_sys = Ex Libris - Voyager
ia-ucw.delete_field_tags = [856,852,9..]
ia-ucw.description = University of Connecticut
ia-ucw.digitizing_source = ia
ia-ucw.enum_field = 955
ia-ucw.enum_sfield = v
ia-ucw.ftps_account = ht-ucw
ia-ucw.ia_id_field = 955
ia-ucw.ia_id_sfield = q
ia-ucw.namespace = ucw
ia-ucw.oclc_field = 035a
ia-ucw.oclc_function = get_oclc_num
ia-ucw.source = CtU
ia-ucw.sysnum_function = sdr_id_from_001
