ia-uma.bar_field = 955
ia-uma.bar_sfield = b
ia-uma.campus_code = ia-uma
ia-uma.collection = MU
ia-uma.contrib_sys = Ex Libris - Aleph - 21
ia-uma.delete_field_tags = [852,9..]
ia-uma.description = University of Massachusetts (IA)
ia-uma.digitizing_source = ia
ia-uma.enum_field = 955
ia-uma.enum_sfield = v
ia-uma.ftps_account = ht-uma
ia-uma.ia_id_field = 955
ia-uma.ia_id_sfield = q
ia-uma.namespace = uma
ia-uma.oclc_field = 035a
ia-uma.oclc_function = get_oclc_num
ia-uma.source = MU
ia-uma.sysnum_function = sdr_id_from_001
