ia-uiuc.bar_field = 955
ia-uiuc.bar_sfield = b
ia-uiuc.campus_code = ia-uiuc
ia-uiuc.collection = IUIUC
ia-uiuc.contrib_sys = unknown
ia-uiuc.delete_field_tags = [540,852,9..]
ia-uiuc.description = University of Illinois (IA)
ia-uiuc.digitizing_source = ia
ia-uiuc.enum_field = 955
ia-uiuc.enum_fix = 1
ia-uiuc.enum_sfield = v
ia-uiuc.ftps_account = ht-uiu
ia-uiuc.ia_id_field = 955
ia-uiuc.ia_id_sfield = q
ia-uiuc.namespace = uiuo
ia-uiuc.oclc_field = 035a
ia-uiuc.oclc_function = get_oclc_num
ia-uiuc.source = UIU
ia-uiuc.sysnum_function = sdr_id_from_001
