iagg-1.bar_field = 955
iagg-1.bar_sfield = b
iagg-1.campus_code = iagg
iagg-1.collection = IAGG
iagg-1.contrib_sys = Alma 
iagg-1.delete_field_tags = [856,852,9..] 
iagg-1.description = Grinnell College
iagg-1.digitizing_source =  grinnell
iagg-1.enum_field = 955
iagg-1.enum_sfield = v
iagg-1.ftps_account = ht-iagg
iagg-1.namespace = gcl
iagg-1.oclc_field = 035a
iagg-1.oclc_function = get_oclc_num
iagg-1.source = IAGG
iagg-1.sysnum_function = sdr_id_from_001
iagg-1.sysnum_separator = . 
