innd-1.bar_field = 955
innd-1.bar_sfield = b
innd-1.campus_code = innd
innd-1.collection = INND
innd-1.contrib_sys = Aleph
innd-1.delete_field_tags = [852,856,9..]
innd-1.description = University of Notre Dame
innd-1.digitizing_source = nd
innd-1.enum_field = 955
innd-1.enum_sfield = v
innd-1.ftps_account = ht-nd
innd-1.namespace = innd
innd-1.oclc_field = 035a
innd-1.oclc_function = get_oclc_num
innd-1.skip_if_no_oclc_number = 0
innd-1.source = IND
innd-1.sysnum_function = sdr_id_from_001
innd-1.sysnum_separator = .
