inu-2012.bar_field = 952
inu-2012.bar_sfield = p
inu-2012.campus_code = inu
inu-2012.collection = INU
inu-2012.contrib_sys = unknown
inu-2012.delete_field_tags = [856,852,9..]
inu-2012.description = Indiana University
inu-2012.digitizing_source = google
inu-2012.enum_field = 952
inu-2012.enum_sfield = i
inu-2012.ftps_account = ht-inu
inu-2012.namespace = inu
inu-2012.oclc_field = 035a
inu-2012.oclc_function = get_oclc_num
inu-2012.source = INU
inu-2012.sysnum_function = sdr_id_from_001
