inu.bar_field = 952
inu.bar_sfield = q
inu.campus_code = inu
inu.collection = INU
inu.contrib_sys = SirsiDynix - Symphony
inu.delete_field_tags = [856,852,9..]
inu.description = Indiana University
inu.digitizing_source = google
inu.enum_field = 952
inu.enum_sfield = i
inu.ftps_account = ht-inu
inu.namespace = inu
inu.oclc_field = 035a
inu.oclc_function = get_oclc_num
inu.source = INU
inu.sysnum_function = sdr_id_from_001
