keio-2.bar_field = 952
keio-2.bar_sfield = p
keio-2.campus_code = keio
keio-2.collection = KEIO
keio-2.contrib_sys = Alma
keio-2.delete_field_tags = [856,862,9..]
keio-2.description = Keio University
keio-2.digitizing_source = google
keio-2.enum_field = 952
keio-2.enum_sfield = v
keio-2.ftps_account = ht-keio
keio-2.namespace = keio
keio-2.oclc_field = 035a
keio-2.oclc_function = get_oclc_num
keio-2.previous_contrib_sys = [Ex_Libris_-_Aleph_-_20]
keio-2.previous_sys = [(JTKU)]
keio-2.previous_sys_field = 035z
keio-2.source = JTKU
keio-2.sysnum_function = sdr_id_from_001
keio-2.sysnum_field = 001
keio-2.sysnum_separator = .
