keio.bar_field = 852
keio.bar_sfield = p
keio.campus_code = keio
keio.collection = KEIO
keio.contrib_sys = Ex Libris - Aleph - 20
keio.delete_field_tags = [856,862,9..]
keio.description = Keio University
keio.digitizing_source = google
keio.enum_field = 852
keio.enum_sfield = h
keio.ftps_account = ht-keio
keio.namespace = keio
keio.source = JTKU
keio.sysnum_function = sdr_id_from_field
keio.sysnum_field = 852
keio.sysnum_sfield = x
