lebau-1.bar_field = 945
lebau-1.bar_sfield = j
lebau-1.campus_code = lebau
lebau-1.collection = LEBAU
lebau-1.contrib_sys = III - Sierra
lebau-1.delete_field_tags = [856,852,9..]
lebau-1.description = American University of Beirut
lebau-1.digitizing_source = aub
lebau-1.enum_field = 945
lebau-1.enum_sfield = v
lebau-1.ftps_account = ht-lebau
lebau-1.namespace = aub
lebau-1.oclc_field = 035a
lebau-1.oclc_function = get_oclc_num
lebau-1.source = lebau
lebau-1.sysnum_function = sdr_id_from_001
lebau-1.sysnum_separator = .
