lebau-2.bar_field = 955
lebau-2.bar_sfield = b
lebau-2.campus_code = lebau
lebau-2.collection = LEBAU
lebau-2.contrib_sys = Alma
lebau-2.delete_field_tags = [856,852,9..]
lebau-2.description = American University of Beirut
lebau-2.digitizing_source = aub
lebau-2.enum_field = 955
lebau-2.enum_sfield = v
lebau-2.ftps_account = ht-lebau
lebau-2.namespace = aub
lebau-2.oclc_field = 035a
lebau-2.oclc_function = get_oclc_num
lebau-2.source = lebau
lebau-2.sysnum_function = sdr_id_from_001
lebau-2.sysnum_separator = .
