mdbj-1.bar_field = 999
mdbj-1.bar_sfield = i
mdbj-1.campus_code = mdbj
mdbj-1.collection = MDBJ
mdbj-1.contrib_sys = SirsiDynix - Horizon
mdbj-1.delete_field_tags = [856,852,9..]
mdbj-1.description = Johns Hopkins University
mdbj-1.digitizing_source = jhu
mdbj-1.enum_field = 999
mdbj-1.enum_sfield = m
mdbj-1.ftps_account = ht-mdbj
mdbj-1.namespace = mdbj
mdbj-1.notify = davidr@jhu.edu, ccase@jhu.edu
mdbj-1.oclc_field = 035a
mdbj-1.oclc_function = get_oclc_num
mdbj-1.source = MDBJ
mdbj-1.sysnum_field = 910
mdbj-1.sysnum_sfield = a 
mdbj-1.sysnum_function = sdr_id_from_field
mdbj-1.sysnum_separator = .
mdbj-1.bar_field_mult = 1
