mdl.bar_field = 955
mdl.bar_sfield = a
mdl.collection = MDL
mdl.contrib_sys = unknown
mdl.delete_field_tags = [856,852,9..]
mdl.description = Minnesota Digital Library
mdl.digitizing_source = mhs
mdl.enum_field = xxx
mdl.enum_sfield = x
mdl.ftps_account = ht-mdl
mdl.namespace = NONE
mdl.nuc = MDL
mdl.source = MDL
mdl.sysnum_function = sdr_id_from_001
mdl.sysnum_separator = .
