mdu-loc.bar_field = 955
mdu-loc.bar_sfield = b
mdu-loc.collection = MDU
mdu-loc.contrib_sys = Ex Libris - Aleph
mdu-loc.delete_field_tags = [856,852,9..]
mdu-loc.description = University of Maryland, College Park
mdu-loc.digitizing_source = umd
mdu-loc.enum_field = 955
mdu-loc.enum_sfield = v
mdu-loc.ftps_account = ht-umd
mdu-loc.oclc_field = 035a
mdu-loc.oclc_function = get_oclc_num
mdu-loc.namespace = umd
mdu-loc.source = MdU
mdu-loc.sysnum_function = sdr_id_from_001
