misk.bar_field = 955
misk.bar_field_mult = 1
misk.bar_sfield = b
misk.campus_code = misk
misk.collection = MISK
misk.contrib_sys = Aleph
misk.delete_field_tags = [856,852,9..]
misk.description = Miskatonic Test University
misk.digitizing_source = misk
misk.enum_field = 955
misk.enum_sfield = v
misk.namespace = misk
misk.oclc_field = 035a
misk.oclc_function = get_oclc_num
misk.source = MISK
misk.sysnum_function = sdr_id_from_001
misk.sysnum_separator = .
