miu-ump.bar_field = 955
miu-ump.bar_sfield = b
miu-ump.campus_code = miu
miu-ump.collection = miu
miu-ump.contrib_sys = Ex Libris - Aleph
miu-ump.delete_field_tags = [856,852,9..]
miu-ump.description = University of Michigan - ump
miu-ump.digitizing_source = ump
miu-ump.enum_field = 955
miu-ump.enum_sfield = v
miu-ump.ftps_account = ht-miu
miu-ump.namespace = mdp
miu-ump.nuc = MiU
miu-ump.oclc_field = 035a
miu-ump.oclc_function = get_oclc_num
miu-ump.source = MiU
miu-ump.sysnum_function = sdr_id_from_001
