miu-multi.bar_field = 955
miu-multi.bar_sfield = b
miu-multi.campus_code = miu
miu-multi.collection = [MIU,GWLA,UMDB,UMLAW,UMBUS,NBB,UMPRIVATE,UMDCMP,UUHHS]
miu-multi.collection_field = 955c
miu-multi.contrib_sys = Ex Libris - Aleph
miu-multi.delete_field_tags = [856,852,9..]
miu-multi.description = University of Michigan - multi
miu-multi.digitizing_source = [google,lit-dlps-dc,ump,um-dc-mp,umich,private,borndigital,uiuc,brooklynmuseum,clements-umich,bentley-umich]
miu-multi.digitizing_source_field = 955s
miu-multi.enum_field = 955
miu-multi.enum_sfield = v
miu-multi.ftps_account = ht-miu
miu-multi.namespace = mdp
miu-multi.nuc = MiU
miu-multi.oclc_field = 035a
miu-multi.oclc_function = get_oclc_num
miu-multi.source = MiU
miu-multi.sysnum_function = sdr_id_from_001
