miu-lit-dlps-dc.bar_field = 955
miu-lit-dlps-dc.bar_sfield = b
miu-lit-dlps-dc.campus_code = miu
miu-lit-dlps-dc.collection = miu
miu-lit-dlps-dc.contrib_sys = Ex Libris - Aleph
miu-lit-dlps-dc.delete_field_tags = [856,852,9..]
miu-lit-dlps-dc.description = University of Michigan - lit-dlps-dc
miu-lit-dlps-dc.digitizing_source = lit-dlps-dc
miu-lit-dlps-dc.enum_field = 955
miu-lit-dlps-dc.enum_sfield = v
miu-lit-dlps-dc.ftps_account = ht-miu
miu-lit-dlps-dc.namespace = mdp
miu-lit-dlps-dc.nuc = MiU
miu-lit-dlps-dc.oclc_field = 035a
miu-lit-dlps-dc.oclc_function = get_oclc_num
miu-lit-dlps-dc.source = MiU
miu-lit-dlps-dc.sysnum_function = sdr_id_from_001
