miu-imp.bar_field = 955 
miu-imp.bar_sfield = b 
miu-imp.campus_code = miu
miu-imp.collection_field = 999c
miu-imp.contrib_sys = Ex libris - Aleph
miu-imp.delete_field_tags = [9..]
miu-imp.description = Michigan - imposters
miu-imp.digitizing_source = UNKNOWN
miu-imp.enum_field = 955
miu-imp.enum_sfield = v
miu-imp.ftps_account = ht-miu
miu-imp.ia_id_field = 955
miu-imp.ia_id_sfield = i
miu-imp.namespace_field = 999n
miu-imp.nuc = MiU
miu-imp.oclc_field = 035a
miu-imp.oclc_function = get_oclc_num
miu-imp.source_field = 999s
miu-imp.sysnum_field = 999
miu-imp.sysnum_function = sdr_id_from_field
miu-imp.sysnum_sfield = b
