miu-uiuc.bar_field = 955
miu-uiuc.bar_sfield = b
miu-uiuc.campus_code = miu
miu-uiuc.collection = miu
miu-uiuc.contrib_sys = Ex Libris - Aleph
miu-uiuc.delete_field_tags = [856,852,9..]
miu-uiuc.description = University of Michigan - uiuc
miu-uiuc.digitizing_source = uiuc
miu-uiuc.enum_field = 955
miu-uiuc.enum_sfield = v
miu-uiuc.ftps_account = ht-miu
miu-uiuc.namespace = mdp
miu-uiuc.nuc = MiU
miu-uiuc.oclc_field = 035a
miu-uiuc.oclc_function = get_oclc_num
miu-uiuc.source = MiU
miu-uiuc.sysnum_function = sdr_id_from_001
