miu-google.bar_field = 955
miu-google.bar_sfield = b
miu-google.campus_code = miu
miu-google.collection = miu
miu-google.contrib_sys = Ex Libris - Aleph
miu-google.delete_field_tags = [856,852,9..]
miu-google.description = University of Michigan - google
miu-google.digitizing_source = google
miu-google.enum_field = 955
miu-google.enum_sfield = v
miu-google.ftps_account = ht-miu
miu-google.namespace = mdp
miu-google.nuc = MiU
miu-google.oclc_field = 035a
miu-google.oclc_function = get_oclc_num
miu-google.source = MiU
miu-google.sysnum_function = sdr_id_from_001
