miu-multi-2.bar_field = 955
miu-multi-2.bar_sfield = b
miu-multi-2.campus_code = miu
miu-multi-2.collection = [MIU,GWLA,UMDB,UMLAW,UMBUS,NBB,UMPRIVATE]
miu-multi-2.collection_field = 955c
miu-multi-2.contrib_sys = Alma
miu-multi-2.delete_field_tags = [856,852,9..]
miu-multi-2.description = University of Michigan - multi
miu-multi-2.digitizing_source = [google,lit-dlps-dc,ump,um-dc-mp,umich,private,borndigital,uiuc,brooklynmuseum,clements-umich,bentley-umich]
miu-multi-2.digitizing_source_field = 955s
miu-multi-2.enum_field = 955
miu-multi-2.enum_sfield = v
miu-multi-2.ftps_account = ht-miu
miu-multi-2.namespace = mdp
miu-multi-2.nuc = MiU
miu-multi-2.oclc_field = 035a
miu-multi-2.oclc_function = get_oclc_num
miu-multi-2.previous_contrib_sys = [Ex_Libris_-_Aleph]
miu-multi-2.previous_sys_field = 035z
miu-multi-2.previous_sys = [(MiU)Aleph]
miu-multi-2.source = MiU
miu-multi-2.sysnum_function = sdr_id_from_001
miu-multi-2.sysnum_separator = .
