miu-um-dc-mp.bar_field = 955
miu-um-dc-mp.bar_sfield = b
miu-um-dc-mp.campus_code = miu
miu-um-dc-mp.collection = miu
miu-um-dc-mp.contrib_sys = Ex Libris - Aleph
miu-um-dc-mp.delete_field_tags = [856,852,9..]
miu-um-dc-mp.description = University of Michigan - um-dc-mp
miu-um-dc-mp.digitizing_source = um-dc-mp
miu-um-dc-mp.enum_field = 955
miu-um-dc-mp.enum_sfield = v
miu-um-dc-mp.ftps_account = ht-miu
miu-um-dc-mp.namespace = mdp
miu-um-dc-mp.nuc = MiU
miu-um-dc-mp.oclc_field = 035a
miu-um-dc-mp.oclc_function = get_oclc_num
miu-um-dc-mp.source = MiU
miu-um-dc-mp.sysnum_function = sdr_id_from_001
