miu-upd.bar_field = 955
miu-upd.bar_sfield = b
miu-upd.campus_code = miu
miu-upd.collection_field = 999c
miu-upd.contrib_sys = Ex libris - Aleph
miu-upd.delete_field_tags = [9..]
miu-upd.description = Michigan - updates
miu-upd.digitizing_source = UNKNOWN
miu-upd.enum_field = 955
miu-upd.enum_sfield = v
miu-upd.ftps_account = ht-miu
miu-upd.namespace_field = 999n
miu-upd.nuc = MiU
miu-upd.oclc_field = 035a
miu-upd.oclc_function = get_oclc_num
miu-upd.source_field = 999s
miu-upd.sysnum_field = 999
miu-upd.sysnum_function = sdr_id_from_field
miu-upd.sysnum_sfield = b
