miu-loc.bar_field = 955
miu-loc.bar_sfield = b
miu-loc.campus_code = miu-loc
miu-loc.collection = miu
miu-loc.contrib_sys = Ex Libris - Aleph
miu-loc.delete_field_tags = [856,852,9..]
miu-loc.description = University of Michigan - local
miu-loc.digitizing_source = umich
miu-loc.enum_field = 955
miu-loc.enum_sfield = v
miu-loc.namespace = mdp
miu-loc.ftps_account = ht-miu
miu-loc.nuc = MiU
miu-loc.oclc_field = 035a
miu-loc.oclc_function = get_oclc_num
miu-loc.source = MiU
miu-loc.sysnum_function = sdr_id_from_001
