miua-lit-dlps-dc.bar_field = 955
miua-lit-dlps-dc.bar_sfield = b
miua-lit-dlps-dc.campus_code = miu
miua-lit-dlps-dc.collection = miu
miua-lit-dlps-dc.contrib_sys = Ex Libris - Aleph
miua-lit-dlps-dc.delete_field_tags = [856,852,9..]
miua-lit-dlps-dc.description = University of Michigan A - lit-dlps-dc
miua-lit-dlps-dc.digitizing_source = lit-dlps-dc
miua-lit-dlps-dc.enum_field = 955
miua-lit-dlps-dc.enum_sfield = v
miua-lit-dlps-dc.ftps_account = ht-miu
miua-lit-dlps-dc.namespace = miua
miua-lit-dlps-dc.nuc = MiUi
miua-lit-dlps-dc.oclc_field = 035a
miua-lit-dlps-dc.oclc_function = get_oclc_num
miua-lit-dlps-dc.source = MiU
miua-lit-dlps-dc.sysnum_function = sdr_id_from_001
