miua-multi-2.bar_field = 955
miua-multi-2.bar_sfield = b
miua-multi-2.campus_code = miu
miua-multi-2.collection = [MIU]
miua-multi-2.collection_field = 955c
miua-multi-2.contrib_sys = Alma
miua-multi-2.delete_field_tags = [856,852,9..]
miua-multi-2.description = University of Michigan A - multi
miua-multi-2.digitizing_source = [lit-dlps-dc,ump]
miua-multi-2.digitizing_source_field = 955s
miua-multi-2.enum_field = 955
miua-multi-2.enum_sfield = v
miua-multi-2.ftps_account = ht-miu
miua-multi-2.namespace = miua
miua-multi-2.nuc = MiU
miua-multi-2.oclc_field = 035a
miua-multi-2.oclc_function = get_oclc_num
miua-multi-2.previous_contrib_sys = [Ex_Libris_-_Aleph]
miua-multi-2.previous_sys_field = 035z
miua-multi-2.previous_sys = [(MiU)Aleph]
miua-multi-2.source = MiU
miua-multi-2.sysnum_function = sdr_id_from_001
miua-multi-2.sysnum_separator = .
