miua-multi.bar_field = 955
miua-multi.bar_sfield = b
miua-multi.campus_code = miu
miua-multi.collection = [MIU]
miua-multi.collection_field = 955c
miua-multi.contrib_sys = Ex Libris - Aleph
miua-multi.delete_field_tags = [856,852,9..]
miua-multi.description = University of Michigan A - multi
miua-multi.digitizing_source = [lit-dlps-dc,ump]
miua-multi.digitizing_source_field = 955s
miua-multi.enum_field = 955
miua-multi.enum_sfield = v
miua-multi.ftps_account = ht-miu
miua-multi.namespace = miua
miua-multi.nuc = MiU
miua-multi.oclc_field = 035a
miua-multi.oclc_function = get_oclc_num
miua-multi.source = MiU
miua-multi.sysnum_function = sdr_id_from_001
