miun-lit-dlps-dc.bar_field = 955
miun-lit-dlps-dc.bar_sfield = b
miun-lit-dlps-dc.campus_code = miu
miun-lit-dlps-dc.collection = miu
miun-lit-dlps-dc.contrib_sys = Ex Libris - Aleph
miun-lit-dlps-dc.delete_field_tags = [856,852,9..]
miun-lit-dlps-dc.description = University of Michigan N - lit-dlps-dc
miun-lit-dlps-dc.digitizing_source = lit-dlps-dc
miun-lit-dlps-dc.enum_field = 955
miun-lit-dlps-dc.enum_sfield = v
miun-lit-dlps-dc.ftps_account = ht-miu
miun-lit-dlps-dc.namespace = miun
miun-lit-dlps-dc.nuc = MiU
miun-lit-dlps-dc.oclc_field = 035a
miun-lit-dlps-dc.oclc_function = get_oclc_num
miun-lit-dlps-dc.source = MiU
miun-lit-dlps-dc.sysnum_function = sdr_id_from_001
