miun-multi-2.bar_field = 955
miun-multi-2.bar_sfield = b
miun-multi-2.campus_code = miu
miun-multi-2.collection = [MIU]
miun-multi-2.collection_field = 955c
miun-multi-2.contrib_sys = Alma
miun-multi-2.delete_field_tags = [856,852,9..]
miun-multi-2.description = University of Michigan N - multi
miun-multi-2.digitizing_source = [lit-dlps-dc]
miun-multi-2.digitizing_source_field = 955s
miun-multi-2.enum_field = 955
miun-multi-2.enum_sfield = v
miun-multi-2.ftps_account = ht-miu
miun-multi-2.namespace = miun
miun-multi-2.nuc = MiU
miun-multi-2.oclc_field = 035a
miun-multi-2.oclc_function = get_oclc_num
miun-multi-2.previous_contrib_sys = [Ex_Libris_-_Aleph]
miun-multi-2.previous_sys_field = 035z
miun-multi-2.previous_sys = [(MiU)Aleph]
miun-multi-2.source = MiU
miun-multi-2.sysnum_function = sdr_id_from_001
miun-multi-2.sysnum_separator = .
