miun-multi.bar_field = 955
miun-multi.bar_sfield = b
miun-multi.campus_code = miu
miun-multi.collection = [MIU,GWLA,UMDB,UMLAW,UMBUS,NBB,UMPRIVATE,UMDCMP,UUHHS]
miun-multi.collection_field = 955c
miun-multi.contrib_sys = Ex Libris - Aleph
miun-multi.delete_field_tags = [856,852,9..]
miun-multi.description = University of Michigan N - multi
miun-multi.digitizing_source = [google,lit-dlps-dc,ump,um-dc-mp,umich,private,borndigital,uiuc,brooklynmuseum,clements-umich,bentley-umich]
miun-multi.digitizing_source_field = 955s
miun-multi.enum_field = 955
miun-multi.enum_sfield = v
miun-multi.ftps_account = ht-miu
miun-multi.namespace = miun
miun-multi.nuc = MiU
miun-multi.oclc_field = 035a
miun-multi.oclc_function = get_oclc_num
miun-multi.source = MiU
miun-multi.sysnum_function = sdr_id_from_001
