mou-2.bar_field = 945
mou-2.bar_sfield = i
mou-2.bar_field_mult = 1  
mou-2.campus_code = mou-loc
mou-2.collection = MOU
mou-2.contrib_sys = FOLIO
mou-2.delete_field_tags = [856,852,9..]
mou-2.description = University of Missouri-Columbia
mou-2.digitizing_source = mou
mou-2.enum_field = 945
mou-2.enum_sfield = c
mou-2.ftps_account = ht-mou
mou-2.namespace = mou
mou-2.oclc_field = 035a
mou-2.oclc_function = get_oclc_num
mou-2.previous_contrib_sys = [III_-_Millenium]
mou-2.previous_sys = [()]
mou-2.previous_sys_field = 907a
mou-2.source = MoU
mou-2.sysnum_function = sdr_id_from_001
mou-2.sysnum_separator = .
