mou-loc.bar_field = 945
mou-loc.bar_sfield = i
mou-loc.bar_field_mult = 1
mou-loc.campus_code = mou-loc
mou-loc.collection = MOU
mou-loc.contrib_sys = III - Millenium
mou-loc.delete_field_tags = [856,852,9..]
mou-loc.description = University of Missouri-Columbia
mou-loc.digitizing_source = mou
mou-loc.enum_field = 945
mou-loc.enum_sfield = c
mou-loc.ftps_account = ht-mou
mou-loc.namespace = mou
mou-loc.oclc_field = 001
mou-loc.oclc_function = get_oclc_num
mou-loc.source = MoU
mou-loc.sysnum_function = sdr_id_from_field
mou-loc.sysnum_field = 907
mou-loc.sysnum_sfield =a
