msu.bar_field = 952
msu.bar_sfield = b
msu.bar_field_mult = 1
msu.collection = MSU
msu.contrib_sys = Sierra 1.2.1_7
msu.delete_field_tags = [856,852,9..]
msu.description = Michigan State University
msu.digitizing_source = google
msu.enum_field = 952
msu.enum_sfield = v
msu.ftps_account = ht-msu
msu.namespace = msu
msu.oclc_field = 001
msu.oclc_function = get_oclc_num
msu.source = MiEM
msu.sysnum_field = 907
msu.sysnum_function = sdr_id_from_field
msu.sysnum_sfield = a
