nbu-1.bar_field = 977
nbu-1.bar_sfield = b
nbu-1.campus_code = nbu
nbu-1.collection = NBU
nbu-1.contrib_sys = Alma
nbu-1.delete_field_tags = [856,852,9..]
nbu-1.description = University of Nebraska-Lincoln
nbu-1.digitizing_source = unl
nbu-1.enum_field = 977
nbu-1.enum_sfield = d
nbu-1.ftps_account = ht-nbu
nbu-1.namespace = unl
nbu-1.oclc_field = 035a
nbu-1.oclc_function = get_oclc_num
nbu-1.source = NBU
nbu-1.sysnum_function = sdr_id_from_001
nbu-1.sysnum_separator = .
