nbuu-1.bar_field = 991
nbuu-1.bar_sfield = b
nbuu-1.campus_code = nbuu
nbuu-1.collection = NBUU
nbuu-1.contrib_sys = Alma
nbuu-1.delete_field_tags = [856,852,9..]
nbuu-1.description = University at Buffalo
nbuu-1.digitizing_source = buffalo
nbuu-1.enum_field = 991
nbuu-1.enum_sfield = v
nbuu-1.ftps_account = ht-nbuu
nbuu-1.namespace = buf
nbuu-1.oclc_field = 035a
nbuu-1.oclc_function = get_oclc_num
nbuu-1.source = NBUU
nbuu-1.sysnum_function = sdr_id_from_001
nbuu-1.sysnum_separator = .
