ncwsw-1.bar_field = 955
ncwsw-1.bar_sfield = b
ncwsw-1.collection = NCWSW
ncwsw-1.contrib_sys = Voyager
ncwsw-1.delete_field_tags = [856,852,9..]
ncwsw-1.description = Wake Forest University
ncwsw-1.digitizing_source = ia
ncwsw-1.enum_field = 955
ncwsw-1.enum_sfield = v
ncwsw-1.ftps_account = ht-wfu
ncwsw-1.ia_id_field = 955
ncwsw-1.ia_id_sfield = q
ncwsw-1.namespace = ia
ncwsw-1.oclc_field = 035a
ncwsw-1.oclc_function = get_oclc_num
ncwsw-1.source = NCWSW
ncwsw-1.sysnum_function = sdr_id_from_001
