njp-3.bar_field = 876
njp-3.bar_sfield = p
njp-3.campus_code = njp
njp-3.collection = NJP
njp-3.contrib_sys = Alma
njp-3.delete_field_tags = [852,856,866,868,876,890,9..] 
njp-3.description = Princeton University
njp-3.digitizing_source = google
njp-3.enum_field = 876
njp-3.enum_sfield = 3
njp-3.ftps_account = ht-njp
njp-3.namespace = njp
njp-3.oclc_field = 035a
njp-3.oclc_function = get_oclc_num
njp-3.previous_contrib_sys = [unknown]
njp-3.previous_sys = [(NjP)Voyager]
njp-3.previous_sys_field = 035z
njp-3.skip_if_no_oclc_number = 0 
njp-3.source = NJP
njp-3.sysnum_function = sdr_id_from_001
njp-3.sysnum_separator = .
