njp-2.bar_field = 599
njp-2.bar_sfield = a
njp-2.campus_code = njp-2
njp-2.collection = NJP
njp-2.contrib_sys = Voyager
njp-2.delete_field_tags = [856,852,9..]
njp-2.description = Princeton University
njp-2.digitizing_source = princeton
njp-2.enum_field = 599
njp-2.enum_sfield = v
njp-2.ftps_account = ht-njp
njp-2.namespace = pul1
njp-2.oclc_field = 035a
njp-2.oclc_function = get_oclc_num
njp-2.source = NJP
njp-2.sysnum_function = sdr_id_from_001
