njp.bar_field = 955
njp.bar_sfield = b
njp.collection = NJP
njp.contrib_sys = unknown
njp.delete_field_tags = [856,852,9..]
njp.description = Princeton University
njp.digitizing_source = google
njp.enum_field = 955
njp.enum_sfield = v
njp.ftps_account = ht-njp
njp.namespace = njp
njp.oclc_field = 035a
njp.oclc_function = get_oclc_num
njp.skip_if_no_oclc_number = 0
njp.source = NJP
njp.sysnum_function = sdr_id_from_001
