njpt-1.bar_field = 955
njpt-1.bar_sfield = b
njpt-1.campus_code = njpt
njpt-1.collection =  NJPT
njpt-1.contrib_sys = III - Sierra
njpt-1.delete_field_tags = [856,852,9..]
njpt-1.description =  Princeton Theological Seminary
njpt-1.digitizing_source = ia
njpt-1.enum_field = 955
njpt-1.enum_sfield = v 
njpt-1.ftps_account = ht-njpt
njpt-1.ia_id_field = 955
njpt-1.ia_id_sfield = q
njpt-1.namespace = ia
njpt-1.oclc_field = 001  
njpt-1.oclc_function = get_oclc_num
njpt-1.source =  NJPT
njpt-1.sysnum_function = sdr_id_from_field
njpt-1.sysnum_field = 907
njpt-1.sysnum_sfield = a
