njr-1.bar_field = 955
njr-1.bar_sfield = b
njr-1.campus_code = njr
njr-1.collection = NJR
njr-1.contrib_sys = Alma
njr-1.delete_field_tags = [856,852,9..] 
njr-1.description = Rutgers University
njr-1.digitizing_source =  google
njr-1.enum_field = 955
njr-1.enum_sfield = v
njr-1.ftps_account = ht-njr
njr-1.namespace = rul
njr-1.oclc_field = 035a
njr-1.oclc_function = get_oclc_num
njr-1.source = NJR
njr-1.sysnum_function = sdr_id_from_001
njr-1.sysnum_separator = .
