nnc.bar_field = 955
nnc.bar_sfield = b
nnc.campus_code = nnc
nnc.collection = NNC
nnc.contrib_sys = unknown
nnc.delete_field_tags = [856,852,9..]
nnc.description = Columbia University
nnc.digitizing_source = google
nnc.enum_field = 955
nnc.enum_sfield = v
nnc.ftps_account = ht-nnc
nnc.namespace = nnc1
nnc.oclc_field = 035a
nnc.oclc_function = get_oclc_num
nnc.source = NNC
nnc.sysnum_function = sdr_id_from_001
