nnu-1.bar_field = 955
nnu-1.bar_sfield = b
nnu-1.campus_code = nnu
nnu-1.collection = NNU
nnu-1.contrib_sys = Alma
nnu-1.delete_field_tags = [856,852,9..]
nnu-1.description = New York University
nnu-1.digitizing_source = nyu
nnu-1.enum_field = 955
nnu-1.enum_sfield = v
nnu-1.ftps_account = ht-nnu
nnu-1.namespace = nyu
nnu-1.oclc_field = 035a
nnu-1.oclc_function = get_oclc_num
nnu-1.source = NNU
nnu-1.sysnum_function = sdr_id_from_001
nnu-1.sysnum_separator = .
