nrlf-gladis.bar_field = 955
nrlf-gladis.bar_sfield = b
nrlf-gladis.campus_code = nrlf
nrlf-gladis.collection = NRLF
nrlf-gladis.contrib_sys = local - Gladis
nrlf-gladis.delete_field_tags = [079,039,856,852,9..]
nrlf-gladis.description = CDL-NRLF-GLADIS
nrlf-gladis.digitizing_source = google
nrlf-gladis.enum_field = 955
nrlf-gladis.enum_sfield = v
nrlf-gladis.ftps_account = ht-uc
nrlf-gladis.namespace = uc1
nrlf-gladis.oclc_field = 079a,035a,039a
nrlf-gladis.oclc_function = get_oclc_num
nrlf-gladis.source = UC
nrlf-gladis.sysnum_function = sdr_id_from_001
