nrlf-4.bar_field = 950
nrlf-4.bar_sfield = i
nrlf-4.campus_code = nrlf
nrlf-4.collection = NRLF
nrlf-4.contrib_sys = III - Millenium
nrlf-4.delete_field_tags = [079,039,856,852,9..]
nrlf-4.description = CDL-NRLF
nrlf-4.digitizing_source = google
nrlf-4.enum_field = 950
nrlf-4.enum_sfield = c
nrlf-4.ftps_account = ht-uc
nrlf-4.namespace = uc1
nrlf-4.oclc_field = 079a,001
nrlf-4.oclc_function = get_oclc_num
nrlf-4.source = UC
nrlf-4.sysnum_function = sdr_id_from_035
