nrlf-6.bar_field = 991
nrlf-6.bar_sfield = b
nrlf-6.campus_code = nrlf
nrlf-6.collection = NRLF
nrlf-6.contrib_sys = Alma
nrlf-6.delete_field_tags = [079,039,856,852,9..]
nrlf-6.description = CDL-NRLF
nrlf-6.digitizing_source = google
nrlf-6.enum_field = 991
nrlf-6.enum_sfield = d
nrlf-6.ftps_account = ht-uc
nrlf-6.namespace = uc1
nrlf-6.oclc_field = 035a
nrlf-6.oclc_function = get_oclc_num
nrlf-6.previous_contrib_sys = [III_-_Millenium]
nrlf-6.previous_sys = [(UCBmil)] 
nrlf-6.previous_sys_field = 035z 
nrlf-6.source = UC
nrlf-6.sysnum_function = sdr_id_from_001
nrlf-6.sysnum_separator = .
