nrlf.bar_field = 950
nrlf.bar_sfield = i
nrlf.collection = NRLF
nrlf.contrib_sys = III - Millenium
nrlf.delete_field_tags = [079,039,856,852,9..]
nrlf.description = CDL-NRLF
nrlf.digitizing_source = google
nrlf.enum_field = 950
nrlf.enum_sfield = c
nrlf.ftps_account = ht-uc
nrlf.namespace = uc1
nrlf.oclc_field = 079a,001
nrlf.oclc_function = get_oclc_num
nrlf.source = UC
nrlf.sysnum_function = sdr_id_from_035
