# 10/24/18 nrlf-3.config was renamed from nrlf-ucsc.config
nrlf-3.bar_field = 918
nrlf-3.bar_sfield = i
nrlf-3.campus_code = nrlf
nrlf-3.collection = NRLF
nrlf-3.contrib_sys = III - Millenium
nrlf-3.delete_field_tags = [079,039,856,852,9..]
nrlf-3.description = CDL-NRLF/UCSC
nrlf-3.digitizing_source = google
nrlf-3.enum_field = 950
nrlf-3.enum_sfield = c
nrlf-3.ftps_account = ht-uc
nrlf-3.namespace = uc1
nrlf-3.oclc_field = 001
nrlf-3.oclc_function = get_oclc_num
nrlf-3.source = UC
nrlf-3.sysnum_field = 917
nrlf-3.sysnum_function = sdr_id_from_field
nrlf-3.sysnum_sfield = a
