nrlf-1.bar_field = 955
nrlf-1.bar_sfield = b
nrlf-1.campus_code = nrlf
nrlf-1.collection = NRLF
nrlf-1.contrib_sys = local - Gladis
nrlf-1.delete_field_tags = [079,039,856,852,9..]
nrlf-1.description = CDL-NRLF-GLADIS
nrlf-1.digitizing_source = google
nrlf-1.enum_field = 955
nrlf-1.enum_sfield = v
nrlf-1.ftps_account = ht-uc
nrlf-1.namespace = uc1
nrlf-1.oclc_field = 079a,035a,039a
nrlf-1.oclc_function = get_oclc_num
nrlf-1.source = UC
nrlf-1.sysnum_function = sdr_id_from_001
