nrlf-ucsc.bar_field = 918
nrlf-ucsc.bar_sfield = i
nrlf-ucsc.collection = NRLF
nrlf-ucsc.contrib_sys = III - Millenium
nrlf-ucsc.delete_field_tags = [079,039,856,852,9..]
nrlf-ucsc.description = CDL-NRLF/UCSC
nrlf-ucsc.digitizing_source = google
nrlf-ucsc.enum_field = 950
nrlf-ucsc.enum_sfield = c
nrlf-ucsc.ftps_account = ht-uc
nrlf-ucsc.namespace = uc1
nrlf-ucsc.oclc_field = 001
nrlf-ucsc.oclc_function = get_oclc_num
nrlf-ucsc.source = UC
nrlf-ucsc.sysnum_field = 917
nrlf-ucsc.sysnum_function = sdr_id_from_field
nrlf-ucsc.sysnum_sfield = a
