nrlf-ucsf.bar_field = 918
nrlf-ucsf.bar_field_mult = 1
nrlf-ucsf.bar_sfield = i
nrlf-ucsf.collection = NRLF
nrlf-ucsf.contrib_sys = III - Millenium
nrlf-ucsf.delete_field_tags = [079,039,856,852,9..]
nrlf-ucsf.description = CDL-NRLF/UCSF
nrlf-ucsf.digitizing_source = google
nrlf-ucsf.enum_field = 918
nrlf-ucsf.enum_sfield = c
nrlf-ucsf.ftps_account = ht-uc
nrlf-ucsf.namespace = uc1
nrlf-ucsf.oclc_field = 001
nrlf-ucsf.oclc_function = get_oclc_num
nrlf-ucsf.source = UC
nrlf-ucsf.sysnum_field = 918
nrlf-ucsf.sysnum_function = sdr_id_from_field
nrlf-ucsf.sysnum_sfield = a
