nrlf-5.bar_field = 995
nrlf-5.bar_sfield = q
nrlf-5.campus_code = ia-nrlf 
nrlf-5.collection = INRLF
nrlf-5.contrib_sys = III - Millenium
nrlf-5.delete_field_tags = [856,852,9..]
nrlf-5.description = CDL-NRLF (IA)
nrlf-5.digitizing_source = ia
nrlf-5.enum_field = 950
nrlf-5.enum_sfield = c
nrlf-5.ftps_account = ht-uc
nrlf-5.ia_id_field = 995
nrlf-5.ia_id_sfield = p
nrlf-5.namespace = uc2
nrlf-5.oclc_field = 079a,001
nrlf-5.oclc_function = get_oclc_num
nrlf-5.source = UC
nrlf-5.sysnum_function = sdr_id_from_035
