#nrlf-2.config was renamed from nrlf-ucsf.config on 10/24/2018
nrlf-2.bar_field = 918
nrlf-2.bar_field_mult = 1
nrlf-2.bar_sfield = i
nrlf-2.campus_code = nrlf
nrlf-2.collection = NRLF
nrlf-2.contrib_sys = III - Millenium
nrlf-2.delete_field_tags = [079,039,856,852,9..]
nrlf-2.description = CDL-NRLF/UCSF
nrlf-2.digitizing_source = google
nrlf-2.enum_field = 918
nrlf-2.enum_sfield = c
nrlf-2.ftps_account = ht-uc
nrlf-2.namespace = uc1
nrlf-2.oclc_field = 001
nrlf-2.oclc_function = get_oclc_num
nrlf-2.source = UC
nrlf-2.sysnum_field = 918
nrlf-2.sysnum_function = sdr_id_from_field
nrlf-2.sysnum_sfield = a
