nwu-loc.bar_field = 955
nwu-loc.bar_field_mult = 1
nwu-loc.bar_sfield = b
nwu-loc.collection = nwu
nwu-loc.contrib_sys = Alma
nwu-loc.delete_field_tags = [856,852,9..]
nwu-loc.description = Northwestern University
nwu-loc.digitizing_source = northwestern
nwu-loc.enum_field = 955
nwu-loc.enum_sfield = v
nwu-loc.ftps_account = ht-ien
nwu-loc.namespace = ien
nwu-loc.nuc = ien
nwu-loc.oclc_field = 035a
nwu-loc.oclc_function = get_oclc_num
nwu-loc.previous_sys_field = 035z
nwu-loc.previous_sys = [(IEN)Voyager,(IEN)Voyager]
nwu-loc.previous_contrib_sys = [UNKNOWN,EX_LIBRIS_-_ALEPH]
nwu-loc.source = IEN
nwu-loc.sysnum_function = sdr_id_from_001
