nwu.bar_field = 955
nwu.bar_field_mult = 1
nwu.bar_sfield = b
nwu.campus_code = nwu
nwu.collection = nwu
nwu.contrib_sys = ALMA
nwu.delete_field_tags = [856,852,9..]
nwu.description = Northwestern University
nwu.digitizing_source = google
nwu.enum_field = 955
nwu.enum_sfield = vy
nwu.ftps_account = ht-ien
nwu.namespace = ien
nwu.nuc = ien
nwu.oclc_field = 035a
nwu.oclc_function = get_oclc_num
nwu.previous_sys_field = 035z
nwu.previous_sys = [(IEN)Voyager,(IEN)Voyager]
nwu.previous_contrib_sys = [UNKNOWN,EX_LIBRIS_-_ALEPH]
nwu.source = IEN
nwu.sysnum_function = sdr_id_from_001
