nyp.bar_field = 945
nyp.bar_sfield = i
nyp.collection = NYP
nyp.contrib_sys = III - Sierra
nyp.delete_field_tags = [856,852,9..]
nyp.description = New York Public Library
nyp.digitizing_source = google
nyp.enum_field = 945
nyp.enum_sfield = c
nyp.ftps_account = ht-nyp
nyp.namespace = nyp
nyp.oclc_field = 035a
nyp.oclc_function = oclc_001_003
nyp.source = NYP
nyp.sysnum_field = 907
nyp.sysnum_function = sdr_id_from_field
nyp.sysnum_sfield = a
