ohm-1.bar_field = 955
ohm-1.bar_field_mult = 1  
ohm-1.bar_sfield = b
ohm-1.campus_code = ohm
ohm-1.collection = OHM
ohm-1.contrib_sys = Alma
ohm-1.delete_field_tags = [856,852,9..]
ohm-1.description = McMaster University
ohm-1.digitizing_source = mcmaster
ohm-1.enum_field = 955
ohm-1.enum_sfield = v
ohm-1.ftps_account = ht-ohm
ohm-1.namespace = mux
ohm-1.oclc_field = 035a
ohm-1.oclc_function = get_oclc_num
ohm-1.source = OHM
ohm-1.sysnum_function = sdr_id_from_001
ohm-1.sysnum_separator = .
