oks-1.bar_field = 955
oks-1.bar_sfield = b
oks-1.campus_code = oks
oks-1.collection = OKS
oks-1.contrib_sys = Alma
oks-1.delete_field_tags = [856,852,9..]
oks-1.description = Oklahoma State University
oks-1.digitizing_source = okstate
oks-1.enum_field = 955
oks-1.enum_sfield = v
oks-1.ftps_account = ht-oks
oks-1.namespace = oksu
oks-1.oclc_field = 035a
oks-1.oclc_function = get_oclc_num
oks-1.source = OKS
oks-1.sysnum_function = sdr_id_from_001
oks-1.sysnum_separator = .
