oktu-1.bar_field = 955
oktu-1.bar_sfield = b
oktu-1.campus_code = oktu
oktu-1.collection =   OKTU
oktu-1.contrib_sys = WMS
oktu-1.delete_field_tags = [856,852,9..]
oktu-1.description = University of Tulsa
oktu-1.digitizing_source = utulsa
oktu-1.enum_field = 955
oktu-1.enum_sfield = v
oktu-1.ftps_account = ht-oktu
oktu-1.namespace =  oktu
oktu-1.oclc_field = 035a
oktu-1.oclc_function = get_oclc_num
oktu-1.source = OKTU
oktu-1.sysnum_function = sdr_id_from_001
oktu-1.sysnum_separator = .
