osu-2.bar_field = 955
osu-2.bar_sfield = b
osu-2.campus_code = osu
osu-2.collection = OSU
osu-2.contrib_sys = III - Sierra
osu-2.delete_field_tags = [856,862,9..]
osu-2.description = The Ohio State University
osu-2.digitizing_source = osu
osu-2.enum_field = 925
osu-2.enum_sfield = c
osu-2.ftps_account = ht-osu
osu-2.ia_id_field = 955
osu-2.ia_id_sfield = q
osu-2.oclc_field = 001
osu-2.oclc_function = get_oclc_num
osu-2.namespace = ia
osu-2.source = OU
osu-2.sysnum_function = sdr_id_from_035
