osu.bar_field = 925
osu.bar_sfield = i
osu.bar_field_mult = 1
osu.campus_code = osu
osu.collection = OSU
osu.contrib_sys = III - Sierra
osu.delete_field_tags = [856,862,9..]
osu.description = The Ohio State University
osu.digitizing_source = google
osu.enum_field = 925
osu.enum_sfield = c
osu.ftps_account = ht-osu
osu.oclc_field = 001
osu.oclc_function = get_oclc_num
osu.namespace = osu
osu.source = OU
osu.sysnum_function = sdr_id_from_035
