phc-1.bar_field = 949
phc-1.bar_sfield = b
phc-1.campus_code = phc
phc-1.collection = PHC
phc-1.contrib_sys = Alma
phc-1.delete_field_tags = [856,852,9..]
phc-1.description = Haverford College
phc-1.digitizing_source = haverford
phc-1.enum_field = 949
phc-1.enum_sfield = e
phc-1.ftps_account = ht-phc
phc-1.namespace = hc
phc-1.oclc_field = 035a
phc-1.oclc_function = get_oclc_num
phc-1.source = PHC
phc-1.sysnum_function = sdr_id_from_001
phc-1.sysnum_separator = .
