ppt-1.bar_field = 959
ppt-1.bar_sfield = b
ppt-1.campus_code = ppt
ppt-1.collection = PPT
ppt-1.contrib_sys = Alma
ppt-1.delete_field_tags = [856,852,9..]
ppt-1.description = Temple University
ppt-1.digitizing_source = temple
ppt-1.enum_field = 959
ppt-1.enum_sfield = v
ppt-1.ftps_account = ht-ppt
ppt-1.namespace = ppt
ppt-1.oclc_field = 035a
ppt-1.oclc_function = get_oclc_num
ppt-1.source = PPT
ppt-1.sysnum_function = sdr_id_from_001
ppt-1.sysnum_separator = .
