pst.bar_field = 955
pst.bar_sfield = b
pst.campus_code = pst
pst.collection = PST
pst.contrib_sys = unknown
pst.delete_field_tags = [856,852,9..]
pst.description = Penn State University
pst.digitizing_source = google
pst.enum_field = 955
pst.enum_sfield = v
pst.ftps_account = ht-pst
pst.namespace = pst
pst.oclc_field = 035a
pst.oclc_function = get_oclc_num
pst.source = PST
pst.sysnum_function = sdr_id_from_001
pst.sysnum_separator = .
