pu-1.bar_field = 965
pu-1.bar_sfield = b
pu-1.collection = PU
pu-1.contrib_sys = Ex Libris - Voyager
pu-1.delete_field_tags = [856,852,9..]
pu-1.description = University of Pennsylvania
pu-1.digitizing_source = upenn
pu-1.enum_field = 965
pu-1.enum_sfield = v
pu-1.ftps_account = ht-upenn
pu-1.namespace = penn
pu-1.oclc_field = 035a
pu-1.oclc_function = get_oclc_num
pu-1.source = PU
pu-1.sysnum_function = sdr_id_from_001
