pu-2.bar_field = 965
pu-2.bar_sfield = b
pu-2.collection = PU
pu-2.contrib_sys = Alma
pu-2.delete_field_tags = [856,852,9..]
pu-2.description = University of Pennsylvania
pu-2.digitizing_source = upenn
pu-2.enum_field = 965
pu-2.enum_sfield = v
pu-2.ftps_account = ht-upenn
pu-2.namespace = penn
pu-2.oclc_field = 035a
pu-2.oclc_function = get_oclc_num
pu-2.source = PU
pu-2.sysnum_function = sdr_id_from_001
pu-2.sysnum_separator = .
