pu-3.bar_field = 955
pu-3.bar_sfield = b
pu-3.campus_code = pu
pu-3.collection = PU
pu-3.contrib_sys = Alma
pu-3.delete_field_tags = [856,852,9..]
pu-3.description = University of Pennsylvania
pu-3.digitizing_source = google
pu-3.enum_field = 955
pu-3.enum_sfield = v
pu-3.ftps_account = ht-upenn
pu-3.namespace = pau
pu-3.oclc_field = 035a
pu-3.oclc_function = get_oclc_num
pu-3.source = PU
pu-3.sysnum_function = sdr_id_from_001
pu-3.sysnum_separator = .
