pur-3.bar_field = 955
pur-3.bar_sfield = b
pur-3.campus_code = pur
pur-3.collection = PURD
pur-3.contrib_sys = Alma
pur-3.delete_field_tags = [856,852,9..]
pur-3.description = Purdue University
pur-3.digitizing_source = purdue
pur-3.enum_field = 955
pur-3.enum_sfield = f  
pur-3.ftps_account = ht-pur
pur-3.namespace = pur1
pur-3.oclc_field = 035a
pur-3.oclc_function = get_oclc_num
pur-3.previous_contrib_sys = [unknown]
pur-3.previous_sys = [(IPL)Voyager]
pur-3.previous_sys_field = 035z
pur-3.source = PUR
pur-3.sysnum_function = sdr_id_from_001
pur-3.sysnum_separator = .
