pur-2.bar_field = 955
pur-2.bar_sfield = b
pur-2.campus_code = pur
pur-2.collection = PUR
pur-2.contrib_sys = Alma
pur-2.delete_field_tags = [856,852,9..]
pur-2.description = Purdue University
pur-2.digitizing_source = google
pur-2.enum_field = 955
pur-2.enum_sfield = f
pur-2.ftps_account = ht-pur
pur-2.namespace = pur1
pur-2.oclc_field = 035a
pur-2.oclc_function = get_oclc_num
pur-2.previous_contrib_sys = [unknown]
pur-2.previous_sys = [(IPL)Voyager]
pur-2.previous_sys_field = 035z
pur-2.source = PUR
pur-2.sysnum_function = sdr_id_from_001
pur-2.sysnum_separator = .
