pur.bar_field = 955
pur.bar_field_mult = 1
pur.bar_sfield = b
pur.campus_code = pur
pur.collection = PUR
pur.contrib_sys = unknown
pur.delete_field_tags = [856,852,9..]
pur.description = Purdue University
pur.digitizing_source = google
pur.enum_field = 955
pur.enum_sfield = v
pur.ftps_account = ht-pur
pur.namespace = pur1
pur.oclc_field = 035a
pur.oclc_function = get_oclc_num
pur.source = PUR
pur.sysnum_function = sdr_id_from_001
