scu-1.bar_field = 955 
scu-1.bar_sfield = b 
scu-1.campus_code = scu
scu-1.collection = SCU
scu-1.contrib_sys = Alma
scu-1.delete_field_tags = [852,856,9..] 
scu-1.description = University of South Carolina
scu-1.digitizing_source = sc
scu-1.enum_field = 955 
scu-1.enum_sfield = v 
scu-1.ftps_account = ht-scu
scu-1.namespace = scu1
scu-1.oclc_field = 035a
scu-1.oclc_function = get_oclc_num
scu-1.source = SCU
scu-1.sysnum_function = sdr_id_from_001
scu-1.sysnum_separator = .
