srlf-3.bar_field = 991
srlf-3.bar_sfield = b
srlf-3.campus_code = srlf
srlf-3.collection = SRLF
srlf-3.contrib_sys = Alma
srlf-3.delete_field_tags = [856,852,9..]
srlf-3.description = CDL-SRLF
srlf-3.digitizing_source = google
srlf-3.enum_field = 991
srlf-3.enum_sfield = d
srlf-3.ftps_account = ht-uc
srlf-3.namespace = uc1
srlf-3.oclc_field = 035a
srlf-3.oclc_function = get_oclc_num
srlf-3.previous_contrib_sys = [Ex_Libris_-_Voyager]
srlf-3.previous_sys = [(UCLAvoy)]
srlf-3.previous_sys_field = 035z
srlf-3.source = UC
srlf-3.sysnum_function = sdr_id_from_001
srlf-3.sysnum_separator = .
