srlf.bar_field = 950
srlf.bar_sfield = i
srlf.collection = SRLF
srlf.contrib_sys = Ex Libris - Voyager
srlf.delete_field_tags = [856,852,9..]
srlf.description = CDL-SRLF
srlf.digitizing_source = google
srlf.enum_field = 950
srlf.enum_sfield = c
srlf.ftps_account = ht-uc
srlf.namespace = uc1
srlf.oclc_field = 035a
srlf.oclc_function = get_oclc_num
srlf.source = UC
srlf.sysnum_function = sdr_id_from_001
