srlf-2.bar_field = 950
srlf-2.bar_sfield = i
srlf-2.campus_code = srlf
srlf-2.collection = SRLF
srlf-2.contrib_sys = Ex Libris - Voyager
srlf-2.delete_field_tags = [856,852,9..]
srlf-2.description = CDL-SRLF
srlf-2.digitizing_source = google
srlf-2.enum_field = 950
srlf-2.enum_sfield = c
srlf-2.ftps_account = ht-uc
srlf-2.namespace = uc1
srlf-2.oclc_field = 035a
srlf-2.oclc_function = get_oclc_num
srlf-2.source = UC
srlf-2.sysnum_function = sdr_id_from_001
