#srlf-1.config was renamed from ia-srlf.config on 10/24/2018
srlf-1.bar_field = 995
srlf-1.bar_sfield = q
srlf-1.campus_code = ia-srlf
srlf-1.collection = ISRLF
srlf-1.contrib_sys = Ex Libris - Voyager
srlf-1.delete_field_tags = [856,852,9..]
srlf-1.description = CDL-SRLF (IA)
srlf-1.digitizing_source = ia
srlf-1.enum_field = 950
srlf-1.enum_sfield = c
srlf-1.ftps_account = ht-uc
srlf-1.ia_id_field = 995
srlf-1.ia_id_sfield = p
srlf-1.namespace = uc2
srlf-1.oclc_field = 035a
srlf-1.oclc_function = get_oclc_num
srlf-1.source = UC
srlf-1.sysnum_function = sdr_id_from_001
