tam.bar_field = 955
tam.bar_sfield = b
tam.collection = TxCM
tam.contrib_sys = Ex Libris - Voyager
tam.delete_field_tags = [856,852,9..]
tam.description = Texas A&M
tam.digitizing_source = tamu
tam.enum_field = 955
tam.enum_sfield = v
tam.ftps_account = ht-tamu
tam.namespace = txa
tam.oclc_field = 035a
tam.oclc_function = get_oclc_num
tam.skip_if_no_oclc_number = 0
tam.source = TxCM
tam.sysnum_function = sdr_id_from_001
