test.bar_field = 955
test.bar_sfield = b
test.campus_code = test
test.collection = TEST
test.contrib_sys = Alma
test.delete_field_tags = [856,852,9..]
test.description = Zephir
test.digitizing_source = test
test.enum_field = 955
test.enum_sfield = v
test.ftps_account = zephir
test.namespace = test
test.oclc_field = 035a
test.oclc_function = get_oclc_num
test.previous_contrib_sys = [III]
test.previous_sys = [(TEST)III]
test.previous_sys_field = 035z
test.source = TEST
test.sysnum_function = sdr_id_from_001
test.sysnum_separator = .
