tu-2.bar_field = 955
tu-2.bar_sfield = b
tu-2.campus_code = ia-tu  
tu-2.collection = MMET
tu-2.contrib_sys = Alma
tu-2.delete_field_tags = [856,852,9..]
tu-2.description = Tufts University
tu-2.digitizing_source = tufts
tu-2.enum_field = 955
tu-2.enum_sfield = v
tu-2.ftps_account = ht-tu
tu-2.namespace = mmet
tu-2.oclc_field = 035a
tu-2.oclc_function = get_oclc_num
tu-2.source = MMeT
tu-2.sysnum_function = sdr_id_from_001
tu-2.sysnum_separator = .
