txsu-1.bar_field = 955
txsu-1.bar_sfield = b
txsu-1.campus_code = txsu
txsu-1.collection = TXSMTSU
txsu-1.contrib_sys = III
txsu-1.delete_field_tags = [856,852,9..]
txsu-1.description = Texas State University
txsu-1.digitizing_source = txstate
txsu-1.enum_field = 955
txsu-1.enum_sfield = v
txsu-1.ftps_account = ht-txsu
txsu-1.namespace = txi
txsu-1.oclc_field = 001
txsu-1.oclc_function = get_oclc_num
txsu-1.source = TXSMTSU
txsu-1.sysnum_field = 907
txsu-1.sysnum_sfield = a
txsu-1.sysnum_function = sdr_id_from_field
txsu-1.sysnum_separator = .
