txu-1.bar_field = 949
txu-1.bar_sfield = a
txu-1.campus_code = txu-1
txu-1.collection = TXU
txu-1.contrib_sys = III - Sierra
txu-1.delete_field_tags = [856,852,9..]
txu-1.description = The University of Texas
txu-1.digitizing_source = google
txu-1.enum_field = 949
txu-1.enum_sfield = d
txu-1.ftps_account = ht-txu
txu-1.namespace = txu
txu-1.oclc_field = 001
txu-1.oclc_function = get_oclc_num
txu-1.source = TXU
txu-1.sysnum_field = 907
txu-1.sysnum_function = sdr_id_from_field
txu-1.sysnum_sfield = a
