txu-2.bar_field = 955
txu-2.bar_sfield = a 
txu-2.campus_code = txu-1 
txu-2.collection = TXU
txu-2.contrib_sys = Alma
txu-2.delete_field_tags = [856,852,9..]
txu-2.description = The University of Texas
txu-2.digitizing_source = google
txu-2.enum_field = 955
txu-2.enum_sfield = v
txu-2.ftps_account = ht-txu
txu-2.namespace = txu
txu-2.oclc_field = 035a
txu-2.oclc_function = get_oclc_num
txu-2.previous_contrib_sys = [III_-_Sierra]
txu-2.previous_sys = [(IXA)]
txu-2.previous_sys_field = 035z 
txu-2.source = TXU
txu-2.sysnum_function = sdr_id_from_001
txu-2.sysnum_separator = .
