#ucb-1.config was renamed from ucbk.config on 10/24/2018
ucb-1.bar_field = 950
ucb-1.bar_sfield = i
ucb-1.campus_code = ucbk
ucb-1.collection = UCBK
ucb-1.contrib_sys = III - Millenium
ucb-1.delete_field_tags = [079,039,856,852,9..]
ucb-1.description = CDL-UCB
ucb-1.digitizing_source = google
ucb-1.enum_field = 950
ucb-1.enum_sfield = c
ucb-1.ftps_account = ht-uc
ucb-1.namespace = uc1
ucb-1.oclc_field = 079a,001
ucb-1.oclc_function = get_oclc_num
ucb-1.source = UC
ucb-1.sysnum_function = sdr_id_from_035
