ucb-2.bar_field = 950
ucb-2.bar_sfield = b
ucb-2.campus_code = ucbk
ucb-2.collection = UCBK
ucb-2.contrib_sys = III - Millenium
ucb-2.delete_field_tags = [856,852,9..]
ucb-2.description = CDL-UCB
ucb-2.digitizing_source = berkeley
ucb-2.enum_field = 950
ucb-2.enum_sfield = v
ucb-2.ftps_account = ht-uc
ucb-2.namespace = ucbk
ucb-2.oclc_field = 001
ucb-2.oclc_function = get_oclc_num
ucb-2.source = UC
ucb-2.sysnum_function = sdr_id_from_035
