ucbk-1.bar_field = 991
ucbk-1.bar_sfield = b
ucbk-1.campus_code = ucbk
ucbk-1.collection = UCBK
ucbk-1.contrib_sys = Alma
ucbk-1.delete_field_tags = [856,852,9..]
ucbk-1.description = CDL-UCB
ucbk-1.digitizing_source = google
ucbk-1.enum_field = 991
ucbk-1.enum_sfield = d
ucbk-1.ftps_account = ht-uc
ucbk-1.namespace = uc1
ucbk-1.oclc_field = 035a 
ucbk-1.oclc_function = get_oclc_num
ucbk-1.previous_contrib_sys = [III_-_Millenium]
ucbk-1.previous_sys = [(UCBmil)]
ucbk-1.previous_sys_field = 035z  
ucbk-1.source = UC
ucbk-1.sysnum_function = sdr_id_from_001
ucbk-1.sysnum_separator = .
