ucbk-2.bar_field = 995
ucbk-2.bar_sfield = b
ucbk-2.campus_code = ucbk
ucbk-2.collection = UCBK
ucbk-2.contrib_sys = Alma
ucbk-2.delete_field_tags = [852,856,9..]
ucbk-2.description = CDL-UCB
ucbk-2.digitizing_source = berkeley
ucbk-2.enum_field = 991 
ucbk-2.enum_sfield = d
ucbk-2.ftps_account = ht-uc
ucbk-2.namespace = ucbk
ucbk-2.oclc_field = 035a 
ucbk-2.oclc_function = get_oclc_num
ucbk-2.previous_contrib_sys = [III_-_Millenium]
ucbk-2.previous_sys = [(UCBmil)]
ucbk-2.previous_sys_field = 035z
ucbk-2.source = UC
ucbk-2.sysnum_function = sdr_id_from_001
ucbk-2.sysnum_separator = .
