ucbk.bar_field = 950
ucbk.bar_sfield = i
ucbk.collection = UCBK
ucbk.contrib_sys = III - Millenium
ucbk.delete_field_tags = [079,039,856,852,9..]
ucbk.description = CDL-UCB
ucbk.digitizing_source = google
ucbk.enum_field = 950
ucbk.enum_sfield = c
ucbk.ftps_account = ht-uc
ucbk.namespace = uc1
ucbk.oclc_field = 079a,001
ucbk.oclc_function = get_oclc_num
ucbk.source = UC
ucbk.sysnum_function = sdr_id_from_035
