ucd.bar_field = 955
ucd.bar_sfield = 5
ucd.campus_code = ucd
ucd.collection = UCD
ucd.contrib_sys = Ex Libris - Aleph
ucd.delete_field_tags = [856,852,9..]
ucd.description = CDL-UCD
ucd.digitizing_source = google
ucd.enum_field = 955
ucd.enum_sfield = x
ucd.ftps_account = ht-uc
ucd.namespace = uc1
ucd.oclc_field = 035a
ucd.oclc_function = get_oclc_num_numeric
ucd.source = UC
ucd.sysnum_function = sdr_id_from_001
