# 10/24/18 ucd-1.config was renamed from ucd.config
ucd-1.bar_field = 955
ucd-1.bar_sfield = 5
ucd-1.campus_code = ucd
ucd-1.collection = UCD
ucd-1.contrib_sys = Ex Libris - Aleph
ucd-1.delete_field_tags = [856,852,9..]
ucd-1.description = CDL-UCD
ucd-1.digitizing_source = google
ucd-1.enum_field = 955
ucd-1.enum_sfield = x
ucd-1.ftps_account = ht-uc
ucd-1.namespace = uc1
ucd-1.oclc_field = 035a
ucd-1.oclc_function = get_oclc_num_numeric
ucd-1.source = UC
ucd-1.sysnum_function = sdr_id_from_001
