ucd-3.bar_field = 991
ucd-3.bar_sfield = b
ucd-3.campus_code = ucd
ucd-3.collection = UCD
ucd-3.contrib_sys = Alma
ucd-3.delete_field_tags = [856,852,9..]
ucd-3.description = CDL-UCD
ucd-3.digitizing_source = google
ucd-3.enum_field = 991
ucd-3.enum_sfield = d
ucd-3.ftps_account = ht-uc
ucd-3.namespace = uc1
ucd-3.oclc_field = 035a
ucd-3.oclc_function = get_oclc_num
ucd-3.source = UC
ucd-3.sysnum_function = sdr_id_from_001
ucd-3.sysnum_separator = .
