# 10/24/18 ucd-2.config was renamed from ia-ucd.config
ucd-2.bar_field = 955
ucd-2.bar_sfield = q
ucd-2.bar_field_mult = 1 
ucd-2.campus_code = ia-ucd
ucd-2.collection = IUCD
ucd-2.contrib_sys = Ex Libris - Aleph
ucd-2.delete_field_tags = [856,852,9..]
ucd-2.description = CDL-UCD (IA)
ucd-2.digitizing_source = ia
ucd-2.enum_field = 955
ucd-2.enum_sfield = v
ucd-2.ftps_account=ht-uc
ucd-2.ia_id_field = 955
ucd-2.ia_id_sfield = p
ucd-2.namespace = uc2
ucd-2.oclc_field = 035a
ucd-2.oclc_function = get_oclc_num_numeric
ucd-2.source = UC
ucd-2.sysnum_function = sdr_id_from_001
