ucd-5.bar_field = 991 
ucd-5.bar_sfield = b
ucd-5.campus_code = ucd
ucd-5.collection = UC Davis Library Collection
ucd-5.contrib_sys = Alma
ucd-5.delete_field_tags = [856,852,9..]  
ucd-5.description = CDL-UCD
ucd-5.digitizing_source = ucdavis
ucd-5.enum_field = 991
ucd-5.enum_sfield = d
ucd-5.ftps_account = ht-uc
ucd-5.namespace = ucd
ucd-5.oclc_field = 035a
ucd-5.oclc_function = get_oclc_num
ucd-5.source = UC
ucd-5.sysnum_function = sdr_id_from_001
ucd-5.sysnum_separator = .
