ucd-4.bar_field = 991
ucd-4.bar_sfield = b
ucd-4.campus_code = ucd
ucd-4.collection = UCD 
ucd-4.contrib_sys = Alma
ucd-4.delete_field_tags = [856,852,9..]  
ucd-4.description = CDL-UCD
ucd-4.digitizing_source = ucdavis
ucd-4.enum_field = 991
ucd-4.enum_sfield = d
ucd-4.ftps_account = ht-uc
ucd-4.namespace = uc1
ucd-4.oclc_field = 035a
ucd-4.oclc_function = get_oclc_num
ucd-4.source = UC
ucd-4.sysnum_function = sdr_id_from_001
ucd-4.sysnum_separator = .
