uci-2.bar_field = 950
uci-2.bar_sfield = i
uci-2.campus_code = uci-2
uci-2.collection = UCI
uci-2.contrib_sys = III
uci-2.delete_field_tags = [856,852,9..]
uci-2.description = CDL-UCI
uci-2.digitizing_source = google
uci-2.enum_field = 950
uci-2.enum_sfield = c
uci-2.ftps_account = ht-uc
uci-2.namespace = uc1
uci-2.oclc_field = 001
uci-2.oclc_function = get_oclc_num
uci-2.source = UC
uci-2.sysnum_field = 907
uci-2.sysnum_function = sdr_id_from_field
uci-2.sysnum_sfield = a
