ucla.bar_field = 950
ucla.bar_sfield = i
ucla.collection = UCLA
ucla.contrib_sys = Ex Libris - Voyager
ucla.delete_field_tags = [856,852,9..]
ucla.description = CDL-UCLA
ucla.digitizing_source = google
ucla.enum_field = 950
ucla.enum_sfield = c
ucla.ftps_account = ht-uc
ucla.namespace = uc1
ucla.oclc_field = 035a
ucla.oclc_function = get_oclc_num
ucla.source = UC
ucla.sysnum_function = sdr_id_from_001
