ucla-1.bar_field = 950
ucla-1.bar_sfield = q
ucla-1.campus_code = ia-ucla
ucla-1.collection = IUCLA
ucla-1.contrib_sys = Ex Libris - Voyager
ucla-1.delete_field_tags = [856,852,9..]
ucla-1.description = CDL-UCLA (IA)
ucla-1.digitizing_source = ia
ucla-1.enum_field = 950
ucla-1.enum_sfield = c
ucla-1.ftps_account = ht-uc
ucla-1.ia_id_field = 950
ucla-1.ia_id_sfield = p
ucla-1.namespace = uc2
ucla-1.oclc_field = 035a
ucla-1.oclc_function = get_oclc_num
ucla-1.source = UC
ucla-1.sysnum_function = sdr_id_from_001
