ucla-3.bar_field = 950
ucla-3.bar_sfield = i
ucla-3.campus_code = ucla
ucla-3.collection = ucla
ucla-3.contrib_sys = Ex Libris - Voyager
ucla-3.delete_field_tags = [856,852,9..]
ucla-3.description = UCLA Locally Digitized
ucla-3.digitizing_source = ucla
ucla-3.enum_field = 950
ucla-3.enum_sfield = c
ucla-3.ftps_account = ht-uc
ucla-3.namespace = uc1
ucla-3.oclc_field = 035a
ucla-3.oclc_function = get_oclc_num
ucla-3.source = UC
ucla-3.sysnum_function = sdr_id_from_001
