ucla-5.bar_field = 991
ucla-5.bar_sfield = b
ucla-5.campus_code = ucla
ucla-5.collection = UCLA
ucla-5.contrib_sys = Alma
ucla-5.delete_field_tags = [856,852,9..]
ucla-5.description = UCLA Locally Digitized
ucla-5.digitizing_source = ucla
ucla-5.enum_field = 991
ucla-5.enum_sfield = d
ucla-5.ftps_account = ht-uc
ucla-5.namespace = uc1
ucla-5.oclc_field = 035a
ucla-5.oclc_function = get_oclc_num
ucla-5.previous_contrib_sys = [Ex_Libris_-_Voyager]
ucla-5.previous_sys = [(UCLAvoy)]
ucla-5.previous_sys_field = 035z
ucla-5.source = UC
ucla-5.sysnum_function = sdr_id_from_001
ucla-5.sysnum_separator = .
