ucla-4.bar_field = 991
ucla-4.bar_sfield = b
ucla-4.campus_code = ucla
ucla-4.collection = UCLA
ucla-4.contrib_sys = Alma
ucla-4.delete_field_tags = [856,852,9..]
ucla-4.description = CDL-UCLA
ucla-4.digitizing_source = google
ucla-4.enum_field = 991
ucla-4.enum_sfield = d
ucla-4.ftps_account = ht-uc
ucla-4.namespace = uc1
ucla-4.oclc_field = 035a
ucla-4.oclc_function = get_oclc_num
ucla-4.previous_contrib_sys = [Ex_Libris_-_Voyager]
ucla-4.previous_sys = [(UCLAvoy)]
ucla-4.previous_sys_field = 035z
ucla-4.source = UC
ucla-4.sysnum_function = sdr_id_from_001
ucla-4.sysnum_separator = .
