ucm-loc.bar_field = 955
ucm-loc.bar_sfield = b
ucm-loc.campus_code = ucm
ucm-loc.collection = UCM
ucm-loc.contrib_sys = unknown
ucm-loc.delete_field_tags = [019,856,852,9..]
ucm-loc.description = Universidad Complutense de Madrid - locally digitized
ucm-loc.digitizing_source = ucm
ucm-loc.enum_field = 955
ucm-loc.enum_sfield = v
ucm-loc.ftps_account = ht-ucm
ucm-loc.namespace = ucm
ucm-loc.oclc_field = 035a
ucm-loc.oclc_function = get_oclc_num
ucm-loc.skip_if_no_oclc_number = 0
ucm-loc.source = UCM
ucm-loc.sysnum_function = sdr_id_from_001
ucm-loc.sysnum_separator = .
