ucm.bar_field = 955
ucm.bar_sfield = b
ucm.collection = UCM
ucm.contrib_sys = unknown
ucm.delete_field_tags = [019,856,852,9..]
ucm.description = Universidad Complutense de Madrid
ucm.digitizing_source = google
ucm.enum_field = 955
ucm.enum_sfield = v
ucm.ftps_account = ht-ucm
ucm.namespace = ucm
#ucm.oclc_field = 035a
#ucm.oclc_function = get_oclc_num
#ucm.skip_if_no_oclc_number = 0
ucm.source = UCM
ucm.sysnum_function = sdr_id_from_001
ucm.sysnum_separator = .
