ucmr-1.bar_field = 955
ucmr-1.bar_sfield = b
ucmr-1.campus_code = ucmr
ucmr-1.collection = UCMR
ucmr-1.contrib_sys = WMS
ucmr-1.delete_field_tags = [856,852,9..]
ucmr-1.description = CDL-UCMR
ucmr-1.digitizing_source = ucmerced
ucmr-1.enum_field = 955
ucmr-1.enum_sfield = v
ucmr-1.ftps_account = ht-uc
ucmr-1.namespace = ucmr
ucmr-1.oclc_field = 035a
ucmr-1.oclc_function = get_oclc_num
ucmr-1.source = UC
ucmr-1.sysnum_function = sdr_id_from_001
