ucmr.bar_field = 955
ucmr.bar_sfield = b
ucmr.collection = UCMR
ucmr.contrib_sys = WMS
ucmr.delete_field_tags = [856,852,9..]
ucmr.description = CDL-UCMR
ucmr.digitizing_source = ucmerced
ucmr.enum_field = 955
ucmr.enum_sfield = v
ucmr.ftps_account = ht-uc
ucmr.namespace = ucmr
ucmr.oclc_field = 035a
ucmr.oclc_function = get_oclc_num
ucmr.source = UC
ucmr.sysnum_function = sdr_id_from_001
