ucr-3.bar_field = 991
ucr-3.bar_sfield = b 
ucr-3.campus_code = ucr
ucr-3.collection = UCR
ucr-3.contrib_sys = Alma
ucr-3.delete_field_tags = [856,852,9..]
ucr-3.description = CDL-UCR
ucr-3.digitizing_source = google
ucr-3.enum_field = 991
ucr-3.enum_sfield = d
ucr-3.ftps_account = ht-uc
ucr-3.namespace = uc1
ucr-3.oclc_field = 035a
ucr-3.oclc_function = get_oclc_num
ucr-3.previous_contrib_sys = [III_Millenium] 
ucr-3.previous_sys = [(UCRalma)] 
ucr-3.previous_sys_field = 035z 
ucr-3.source = UC
ucr-3.sysnum_function = sdr_id_from_001
ucr-3.sysnum_separator = .
