ucr-2.bar_field = 955
ucr-2.bar_sfield =b 
ucr-2.campus_code = ucr
ucr-2.collection = UCR
ucr-2.contrib_sys = Ex Libris - Alma
ucr-2.delete_field_tags = [856,852,9..]
ucr-2.description = CDL-UCR
ucr-2.digitizing_source = google
ucr-2.enum_field = 955
ucr-2.enum_sfield = d
ucr-2.ftps_account = ht-uc
ucr-2.namespace = uc1
ucr-2.oclc_field = 035a
ucr-2.oclc_function = get_oclc_num
ucr-2.previous_contrib_sys = [III_-_Millennium] 
ucr-2.previous_sys = [(CU-Riv)Millennium]
ucr-2.previous_sys_field = 035z
ucr-2.source = UC
ucr-2.sysnum_function = sdr_id_from_001
