ucr.bar_field = 950
ucr.bar_sfield = i
ucr.collection = UCR
ucr.contrib_sys = III - MILLENIUM
ucr.delete_field_tags = [856,852,9..]
ucr.description = CDL-UCR
ucr.digitizing_source = google
ucr.enum_field = 950
ucr.enum_sfield = c
ucr.ftps_account = ht-uc
ucr.namespace = uc1
ucr.oclc_field = 001
ucr.oclc_function = get_oclc_num
ucr.source = UC
ucr.sysnum_function = sdr_id_from_035
