ucsb-1.bar_field = 955
ucsb-1.bar_sfield = b
ucsb-1.campus_code = ucsb
ucsb-1.collection = UCSB
ucsb-1.contrib_sys = Alma
ucsb-1.delete_field_tags = [856,852,9..]
ucsb-1.description = UC Santa Barbara
ucsb-1.digitizing_source = google
ucsb-1.enum_field = 955
ucsb-1.enum_sfield = d
ucsb-1.ftps_account = ht-uc
ucsb-1.namespace = uc1
ucsb-1.oclc_field = 035a
ucsb-1.oclc_function = get_oclc_num
ucsb-1.source = UC
ucsb-1.sysnum_function = sdr_id_from_001
ucsb-1.sysnum_separator = .
