ucsb-2.bar_field = 991
ucsb-2.bar_sfield = b
ucsb-2.campus_code = ucsb
ucsb-2.collection = UCSB
ucsb-2.contrib_sys = Alma
ucsb-2.delete_field_tags = [856,852,9..]
ucsb-2.description = UC Santa Barbara
ucsb-2.digitizing_source = google
ucsb-2.enum_field = 991
ucsb-2.enum_sfield = d  
ucsb-2.ftps_account = ht-uc
ucsb-2.namespace = uc1
ucsb-2.oclc_field = 035a
ucsb-2.oclc_function = get_oclc_num
ucsb-2.source = UC
ucsb-2.sysnum_function = sdr_id_from_001
ucsb-2.sysnum_separator = .
