ucsc-2012.bar_field = 950
ucsc-2012.bar_sfield = i
ucsc-2012.campus_code = ucsc
ucsc-2012.collection = UCSC
ucsc-2012.contrib_sys = III - Millenium
ucsc-2012.delete_field_tags = [856,852,9..]
ucsc-2012.description = CDL-UCSC
ucsc-2012.digitizing_source = google
ucsc-2012.enum_field = 950
ucsc-2012.enum_sfield = c
ucsc-2012.ftps_account = ht-uc
ucsc-2012.namespace = uc1
ucsc-2012.oclc_field = 001
ucsc-2012.oclc_function = get_oclc_num
ucsc-2012.source = UC
ucsc-2012.sysnum_function = sdr_id_from_035
