#ucsc-1.config was renamed from ucsc-2012.config on 10/24/2018
ucsc-1.bar_field = 950
ucsc-1.bar_sfield = i
ucsc-1.campus_code = ucsc
ucsc-1.collection = UCSC
ucsc-1.contrib_sys = III - Millenium
ucsc-1.delete_field_tags = [856,852,9..]
ucsc-1.description = CDL-UCSC
ucsc-1.digitizing_source = google
ucsc-1.enum_field = 950
ucsc-1.enum_sfield = c
ucsc-1.ftps_account = ht-uc
ucsc-1.namespace = uc1
ucsc-1.oclc_field = 001
ucsc-1.oclc_function = get_oclc_num
ucsc-1.source = UC
ucsc-1.sysnum_function = sdr_id_from_035
