ucsc.bar_field = 945
ucsc.bar_sfield = i
ucsc.collection = UCSC
ucsc.contrib_sys = III - Millenium
ucsc.delete_field_tags = [856,852,9..]
ucsc.description = CDL-UCSC
ucsc.digitizing_source = google
ucsc.enum_field = 945
ucsc.enum_sfield = c
ucsc.ftps_account = ht-uc
ucsc.namespace = uc1
ucsc.oclc_field = 001
ucsc.oclc_function = get_oclc_num
ucsc.source = UC
ucsc.sysnum_field = 907
ucsc.sysnum_function = sdr_id_from_field
ucsc.sysnum_sfield = a
