ucsd.bar_field = 950
ucsd.bar_sfield = i
ucsd.campus_code = ucsd
ucsd.collection = UCSD
ucsd.contrib_sys = III - Millenium
ucsd.delete_field_tags = [856,852,9..]
ucsd.description = CDL-UCSD
ucsd.digitizing_source = google
ucsd.enum_field = 950
ucsd.enum_sfield = c
ucsd.ftps_account = ht-uc
ucsd.namespace = uc1
ucsd.oclc_field = 001
ucsd.oclc_function = get_oclc_num
ucsd.source = UC
ucsd.sysnum_function = sdr_id_from_035
