ucsd-3.bar_field = 991
ucsd-3.bar_sfield = b
ucsd-3.campus_code = ucsd
ucsd-3.collection = UCSD
ucsd-3.contrib_sys = Alma
ucsd-3.delete_field_tags = [856,852,9..]
ucsd-3.description = CDL-UCSD
ucsd-3.digitizing_source = google
ucsd-3.enum_field = 991
ucsd-3.enum_sfield = d  
ucsd-3.ftps_account = ht-uc
ucsd-3.namespace = uc1
ucsd-3.oclc_field = 035a
ucsd-3.oclc_function = get_oclc_num
ucsd-3.previous_contrib_sys = [III_-_Millenium]
ucsd-3.previous_sys = [(UCSDmil)]
ucsd-3.previous_sys_field = 035z  
ucsd-3.source = UC
ucsd-3.sysnum_function = sdr_id_from_001
ucsd-3.sysnum_separator = .
