ucsf.bar_field = 950
ucsf.bar_sfield = i
ucsf.collection = UCSF
ucsf.contrib_sys = III - Millenium
ucsf.delete_field_tags = [856,852,9..]
ucsf.description = CDL-UCSF
ucsf.digitizing_source = google
ucsf.enum_field = 950
ucsf.enum_sfield = c
ucsf.ftps_account = ht-uc
ucsf.namespace = uc1
ucsf.oclc_field = 001
ucsf.oclc_function = get_oclc_num
ucsf.source = UC
ucsf.sysnum_field = 901
ucsf.sysnum_function = sdr_id_from_field_ucsf
ucsf.sysnum_sfield = a
