ucsf-4.bar_field = 991
ucsf-4.bar_sfield = b
ucsf-4.bar_field_mult = 1
ucsf-4.campus_code = ucsf
ucsf-4.collection = UCSF 
ucsf-4.contrib_sys = Alma
ucsf-4.delete_field_tags = [856,852,9..]
ucsf-4.description =  CDL-UCSF
ucsf-4.digitizing_source = ucsf
ucsf-4.enum_field = 991
ucsf-4.enum_sfield = d
ucsf-4.ftps_account = ht-uc
ucsf-4.namespace = uc1
ucsf-4.oclc_field = 035a
ucsf-4.oclc_function = get_oclc_num
ucsf-4.previous_contrib_sys = [III_-_Millenium]
ucsf-4.previous_sys = [(UCSFmil)]
ucsf-4.previous_sys_field = 996a
ucsf-4.source = UC
ucsf-4.sysnum_function = sdr_id_from_001
ucsf-4.sysnum_separator = .
