ucsf-1.bar_field = 950
ucsf-1.bar_sfield = i
ucsf-1.campus_code = ucsf
ucsf-1.collection = UCSF
ucsf-1.contrib_sys = III - Millenium
ucsf-1.delete_field_tags = [856,852,9..]
ucsf-1.description = CDL-UCSF
ucsf-1.digitizing_source = google
ucsf-1.enum_field = 950
ucsf-1.enum_sfield = c
ucsf-1.ftps_account = ht-uc
ucsf-1.namespace = uc1
ucsf-1.oclc_field = 001
ucsf-1.oclc_function = get_oclc_num
ucsf-1.source = UC
ucsf-1.sysnum_field = 901
ucsf-1.sysnum_function = sdr_id_from_field_ucsf
ucsf-1.sysnum_sfield = a
