udel-wms.bar_field = 955
udel-wms.bar_sfield = b
udel-wms.campus_code = udel
udel-wms.collection = DEU
udel-wms.contrib_sys = WMS
udel-wms.delete_field_tags = [856,852,9..]
udel-wms.description = University of Delaware
udel-wms.digitizing_source = UDEL
udel-wms.enum_field = 955
udel-wms.enum_sfield = v
udel-wms.ftps_account = ht-udel
udel-wms.namespace = udel
udel-wms.oclc_field = 035
udel-wms.oclc_function = get_oclc_num
udel-wms.source = DeU
udel-wms.sysnum_function = sdr_id_from_001
