udel.bar_field = 955
udel.bar_sfield = b
udel.collection = DEU
udel.contrib_sys = Ex Libris - Aleph
udel.delete_field_tags = [856,852,9..]
udel.description = University of Delaware
udel.digitizing_source = UDEL
udel.enum_field = 955
udel.enum_sfield = v
udel.ftps_account = ht-udel
udel.namespace = udel
udel.oclc_field = 035
udel.oclc_function = get_oclc_num
udel.source = DeU
udel.sysnum_function = sdr_id_from_001
