ufdc-2.bar_field = 955
ufdc-2.bar_sfield = a 
ufdc-2.campus_code = ufdc
ufdc-2.collection = UFDC
ufdc-2.contrib_sys = Local Repository
ufdc-2.delete_field_tags = [856,852,9..]
ufdc-2.description = University of Florida Digital Collections
ufdc-2.digitizing_source = UF
ufdc-2.enum_field = 955
ufdc-2.enum_sfield = v
ufdc-2.ftps_account = ht-ufl
ufdc-2.namespace = ufl2
ufdc-2.oclc_field = 776w
ufdc-2.oclc_function = get_oclc_num
ufdc-2.skip_if_no_oclc_number = 1 
ufdc-2.source = FU
ufdc-2.sysnum_function = sdr_id_from_001
