ufdc.bar_field = 955
ufdc.bar_sfield = a
ufdc.campus_code = ufdc
ufdc.collection = UFDC
ufdc.contrib_sys = Ex Libris - Aleph
ufdc.delete_field_tags = [856,852,9..]
ufdc.description = University of Florida Digital Collections
ufdc.digitizing_source = UF
ufdc.enum_field = 955
ufdc.enum_sfield = v
ufdc.ftps_account = ht-ufl
ufdc.namespace = ufl2
ufdc.oclc_field = 776w
ufdc.oclc_function = get_oclc_num
ufdc.source = FU
ufdc.sysnum_function = sdr_id_from_001
