ufl-2.bar_field = 955
ufl-2.bar_sfield = b
ufl-2.campus_code = ufdc 
ufl-2.collection = IUFL
ufl-2.contrib_sys = Alma
ufl-2.delete_field_tags = [856,852,9..]
ufl-2.description = University of Florida (IA)
ufl-2.digitizing_source = ia
ufl-2.enum_field = 955
ufl-2.enum_sfield = v
ufl-2.ftps_account = ht-ufl
ufl-2.ia_id_field = 955
ufl-2.ia_id_sfield = q
ufl-2.namespace = ufl1
ufl-2.oclc_field = 035a
ufl-2.oclc_function = get_oclc_num
ufl-2.previous_contrib_sys = [Ex_Libris_-_Aleph]
ufl-2.previous_sys_field = 035a
ufl-2.previous_sys = [(aleph)]
ufl-2.skip_if_no_oclc_number = 1
ufl-2.source = FU
ufl-2.sysnum_function = sdr_id_from_001
ufl-2.sysnum_separator = .
