ufl-3.bar_field = 955
ufl-3.bar_sfield = b
ufl-3.campus_code = ufdc
ufl-3.collection = UFDC
ufl-3.contrib_sys = Alma
ufl-3.delete_field_tags = [856,852,891,9..]
ufl-3.description = State University System of Florida 
ufl-3.digitizing_source = google
ufl-3.enum_field = 955
ufl-3.enum_sfield = v
ufl-3.ftps_account = ht-ufl
ufl-3.namespace = ufl
ufl-3.oclc_field = 035a
ufl-3.oclc_function = get_oclc_num
ufl-3.previous_contrib_sys = [Ex_Libris_-_Aleph]
ufl-3.previous_sys_field = 035z
ufl-3.previous_sys = [(aleph)]
ufl-3.source = FU
ufl-3.sysnum_function = sdr_id_from_001
ufl-3.sysnum_separator = .
