uiowa.bar_field = 955
uiowa.bar_sfield = a
uiowa.collection = IaU
uiowa.contrib_sys = Ex Libris - Aleph - 21
uiowa.delete_field_tags = [856,852,9..]
uiowa.description = University of Iowa
uiowa.digitizing_source = google
uiowa.enum_field = 955
uiowa.enum_sfield = b
uiowa.ftps_account = ht-uiowa
uiowa.namespace = IaU
uiowa.oclc_field = 035
uiowa.oclc_function = get_oclc_num
uiowa.source = IaU
uiowa.sysnum_function = sdr_id_from_001
