uiowa-2.bar_field = 955
uiowa-2.bar_sfield = b
uiowa-2.campus_code = uiowa
uiowa-2.collection = IaU
uiowa-2.contrib_sys = Alma
uiowa-2.delete_field_tags = [856,852,9..]
uiowa-2.description = University of Iowa
uiowa-2.digitizing_source = google
uiowa-2.enum_field = 955
uiowa-2.enum_sfield = v
uiowa-2.ftps_account = ht-uiowa
uiowa-2.namespace = IaU
uiowa-2.oclc_field = 035a
uiowa-2.oclc_function = get_oclc_num
uiowa-2.previous_contrib_sys = [Ex_Libris_-_Aleph_-_21]
uiowa-2.previous_sys = [(IaU)Aleph]
uiowa-2.previous_sys_field = 035z
uiowa-2.source = IaU
uiowa-2.sysnum_function = sdr_id_from_001
uiowa-2.sysnum_separator = .
