uiuc-loc.bar_field = 955
uiuc-loc.bar_sfield = b
uiuc-loc.campus_code = uiuc
uiuc-loc.collection = UIUCL
uiuc-loc.contrib_sys = Ex Libris - Voyager
uiuc-loc.delete_field_tags = [852,9..]
uiuc-loc.description = University of Illinois
uiuc-loc.digitizing_source = uiuc
uiuc-loc.enum_field = 955
uiuc-loc.enum_sfield = v
uiuc-loc.ftps_account = ht-uiu
uiuc-loc.namespace = uiuc
uiuc-loc.oclc_field = 035a
uiuc-loc.oclc_function = get_oclc_num
uiuc-loc.source = UIU
uiuc-loc.sysnum_function = sdr_id_from_001
