uiuc-8.bar_field = 955
uiuc-8.bar_sfield = b
uiuc-8.campus_code = uiuc
uiuc-8.collection = UIUC
uiuc-8.contrib_sys = Alma
uiuc-8.delete_field_tags = [850,852,856,9..]
uiuc-8.description = University of Illinois
uiuc-8.digitizing_source = google
uiuc-8.enum_field = 955
uiuc-8.enum_sfield = v
uiuc-8.ftps_account = ht-uiu
uiuc-8.namespace = uiug
uiuc-8.oclc_field = 035a
uiuc-8.oclc_function = get_oclc_num
uiuc-8.previous_contrib_sys = [unknown]
uiuc-8.previous_sys = [(UIU)Voyager]
uiuc-8.previous_sys_field = 035z
uiuc-8.source = UIU
uiuc-8.sysnum_function = sdr_id_from_001
uiuc-8.sysnum_separator = .
