uiuc-5.bar_field = 955
uiuc-5.bar_sfield = b
uiuc-5.campus_code = uiuc
uiuc-5.collection = UIUC
uiuc-5.contrib_sys = Ex Libris - Voyager
uiuc-5.delete_field_tags = [852,9..]
uiuc-5.description = University of Illinois, Law Library
uiuc-5.digitizing_source = google
uiuc-5.enum_field = 955
uiuc-5.enum_sfield = v
uiuc-5.ftps_account = ht-uiu
uiuc-5.namespace = uiul
uiuc-5.oclc_field = 035a
uiuc-5.oclc_function = get_oclc_num
uiuc-5.source = UIU
uiuc-5.sysnum_function = sdr_id_from_001
