uiuc-6.bar_field = 955  
uiuc-6.bar_sfield = b   
uiuc-6.campus_code = uiuc
uiuc-6.collection = IUIUC
uiuc-6.contrib_sys = Alma
uiuc-6.delete_field_tags = [540,852,856,9..]  
uiuc-6.description = University of Illinois (IA)
uiuc-6.digitizing_source = ia
uiuc-6.enum_field = 955   
uiuc-6.enum_sfield = v   
uiuc-6.ftps_account = ht-uiu
uiuc-6.ia_id_field = 955   
uiuc-6.ia_id_sfield = q   
uiuc-6.namespace = uiuo
uiuc-6.oclc_field = 035a
uiuc-6.oclc_function = get_oclc_num
uiuc-6.previous_contrib_sys = [unknown]
uiuc-6.previous_sys = [(UIU)Voyager]
uiuc-6.previous_sys_field = 035z
uiuc-6.source = UIU
uiuc-6.sysnum_function = sdr_id_from_001
uiuc-6.sysnum_separator = .
