uiuc-7.bar_field = 955  
uiuc-7.bar_sfield = b   
uiuc-7.campus_code = uiuc
uiuc-7.collection = UIUCL
uiuc-7.contrib_sys = Alma
uiuc-7.delete_field_tags = [852,856,9..]  
uiuc-7.description = University of Illinois 
uiuc-7.digitizing_source = uiuc
uiuc-7.enum_field = 955   
uiuc-7.enum_sfield = v   
uiuc-7.ftps_account = ht-uiu
uiuc-7.namespace = uiuc
uiuc-7.oclc_field = 035a
uiuc-7.oclc_function = get_oclc_num
uiuc-7.previous_contrib_sys = [Ex_Libris_-_Voyager]
uiuc-7.previous_sys = [(UIU)Voyager]
uiuc-7.previous_sys_field = 035z
uiuc-7.source = UIU
uiuc-7.sysnum_function = sdr_id_from_001
uiuc-7.sysnum_separator = .
