uiuc-9.bar_field = 955
uiuc-9.bar_sfield = b
uiuc-9.campus_code = uiuc
uiuc-9.collection = UIUC
uiuc-9.contrib_sys = Alma
uiuc-9.delete_field_tags = [852,9..]
uiuc-9.description = University of Illinois, Law Library
uiuc-9.digitizing_source = google
uiuc-9.enum_field = 955
uiuc-9.enum_sfield = v
uiuc-9.ftps_account = ht-uiu
uiuc-9.namespace = uiul
uiuc-9.oclc_field = 035a
uiuc-9.oclc_function = get_oclc_num
uiuc-9.previous_contrib_sys = [Ex_Libris_-_Voyager]
uiuc-9.previous_sys = [(UIU)Voyager]
uiuc-9.previous_sys_field = 035z
uiuc-9.source = UIU
uiuc-9.sysnum_function = sdr_id_from_001
uiuc-9.sysnum_separator = .
