uiuc.bar_field = 955
uiuc.bar_sfield = b
uiuc.campus_code = uiuc
uiuc.collection = UIUC
uiuc.contrib_sys = unknown
uiuc.delete_field_tags = [852,9..]
uiuc.description = University of Illinois
uiuc.digitizing_source = google
uiuc.enum_field = 955
uiuc.enum_sfield = v
uiuc.ftps_account = ht-uiu
uiuc.namespace = uiug
uiuc.oclc_field = 035a
uiuc.oclc_function = get_oclc_num
uiuc.source = UIU
uiuc.sysnum_function = sdr_id_from_001
