ukloku.bar_field = 955
ukloku.bar_sfield = b
ukloku.collection = UKLOKU
ukloku.contrib_sys = unknown
ukloku.delete_field_tags = [856,852,9..]
ukloku.description = Knowledge Unlatched
ukloku.digitizing_source = ku 
ukloku.enum_field = 955
ukloku.enum_sfield = v
ukloku.ftps_account = ht-ukloku
ukloku.namespace = ku01
ukloku.oclc_field = 776w
ukloku.oclc_function = get_oclc_num
ukloku.source = UKLOKU
ukloku.sysnum_function = sdr_id_from_001
ukloku.sysnum_separator = .
