ukoxu-1.bar_field = 852
ukoxu-1.bar_sfield = p
ukoxu-1.campus_code = ukoxu
ukoxu-1.collection = UKOXU
ukoxu-1.contrib_sys = Alma
ukoxu-1.delete_field_tags = [856,852,9..]
ukoxu-1.description = Bodleian Libraries, University of Oxford
ukoxu-1.digitizing_source = google
ukoxu-1.enum_field = 852
ukoxu-1.enum_sfield = 3
ukoxu-1.ftps_account = ht-ukoxu
ukoxu-1.namespace = oxu1
ukoxu-1.oclc_field = 035a
ukoxu-1.oclc_function = get_oclc_num
ukoxu-1.source = UKOXU
ukoxu-1.sysnum_function = sdr_id_from_001
ukoxu-1.sysnum_separator = .
