umdb.bar_field = 899
umdb.bar_sfield = a
umdb.collection = UMDB
umdb.contrib_sys = unknown
umdb.delete_field_tags = [002,856,852,899,9..]
umdb.description = University of Michigan Dearborn
umdb.digitizing_source = 
umdb.enum_field = 899
umdb.enum_sfield = c
umdb.ftps_account = ht-miu
umdb.namespace = NONE
umdb.nuc = MiU
umdb.oclc_field = 035a
umdb.oclc_function = get_oclc_num
umdb.source = 
umdb.sysnum_field = 907
umdb.sysnum_function = sdr_id_from_field
umdb.sysnum_sfield = a
