umlaw.bar_field = 899
umlaw.bar_sfield = a
umlaw.campus_code = umlaw
umlaw.collection = UMLAW
umlaw.contrib_sys = unknown
umlaw.delete_field_tags = [002,856,852,899,9..]
umlaw.description = University of Michigan Law School
umlaw.digitizing_source = 
umlaw.enum_field = 899
umlaw.enum_sfield = c
umlaw.ftps_account = ht-miu
umlaw.namespace = NONE
umlaw.nuc = MiU
umlaw.oclc_field = 035a
umlaw.oclc_function = get_oclc_num
umlaw.source = 
umlaw.sysnum_function = sdr_id_from_001
umlaw.sysnum_separator = .
