umn-2.bar_field = 955 
umn-2.bar_sfield = b 
umn-2.campus_code = umn
umn-2.collection = UMN 
umn-2.contrib_sys = Ex Libris - ALMA 
umn-2.delete_field_tags = [856,852,9..] 
umn-2.description = University of Minnesota 
umn-2.digitizing_source = umn 
umn-2.enum_field = 955 
umn-2.enum_sfield = v 
umn-2.ftps_account = ht-umn 
umn-2.namespace = umn 
umn-2.oclc_field = 035a 
umn-2.oclc_function = get_oclc_num 
umn-2.previous_sys_field = 035z 
umn-2.previous_sys = [(MnU)Aleph] 
umn-2.previous_contrib_sys = [Aleph]
umn-2.source = UMN 
umn-2.sysnum_function = sdr_id_from_001
