umn-aleph.bar_field = 955
umn-aleph.bar_sfield = b
umn-aleph.collection = UMN
umn-aleph.contrib_sys = unknown
umn-aleph.delete_field_tags = [856,852,9..]
umn-aleph.description = University of Minnesota
umn-aleph.digitizing_source = google
umn-aleph.enum_field = 955
umn-aleph.enum_sfield = v
umn-aleph.ftps_account = ht-umn
umn-aleph.namespace = umn
umn-aleph.oclc_field = 035a
umn-aleph.oclc_function = get_oclc_num
umn-aleph.source = UMN
umn-aleph.sysnum_function = sdr_id_from_001
