umn-3.bar_field = 955
umn-3.bar_sfield = b
umn-3.campus_code = umn
umn-3.collection = UMN
umn-3.contrib_sys = Ex Libris - ALMA
umn-3.delete_field_tags = [856,852,9..]
umn-3.description = University of Minnesota
umn-3.digitizing_source = umn
umn-3.enum_field = 955
umn-3.enum_sfield = v
umn-3.ftps_account = ht-umn
umn-3.namespace = umn
umn-3.oclc_field = 035a
umn-3.oclc_function = get_oclc_num
umn-3.previous_sys_field = 035z
umn-3.previous_sys = [(MnU)Aleph]
umn-3.previous_contrib_sys = [Aleph]
umn-3.source = UMN
umn-3.sysnum_function = sdr_id_from_001
