umn.bar_field = 955
umn.bar_sfield = b
umn.collection = UMN
umn.contrib_sys = Ex Libris - ALMA
umn.delete_field_tags = [856,852,9..]
umn.description = University of Minnesota
umn.digitizing_source = google
umn.enum_field = 955
umn.enum_sfield = v
umn.ftps_account = ht-umn
umn.namespace = umn
umn.oclc_field = 035a
umn.oclc_function = get_oclc_num
umn.previous_sys_field = 035z
umn.previous_sys = [(MnU)Aleph]
umn.previous_contrib_sys = [Aleph]
umn.source = UMN
umn.sysnum_function = sdr_id_from_001
