uql-1.bar_field = 955
uql-1.bar_sfield = b
uql-1.collection = AUBRU
uql-1.contrib_sys = Alma
uql-1.delete_field_tags = [856,852,9..]
uql-1.description = Digitization of early University of Queensland Magazines
uql-1.digitizing_source = uq
uql-1.enum_field = 955
uql-1.enum_sfield = v
uql-1.ftps_account = ht-uql
uql-1.namespace = uq
uql-1.oclc_field = 035a
uql-1.oclc_function = get_oclc_num
uql-1.source = AuBrU
uql-1.sysnum_function = sdr_id_from_001
