usu.bar_field = 955
usu.bar_sfield = b
usu.campus_code = usu
usu.collection = USU
usu.contrib_sys = III - Sierra
usu.delete_field_tags = [856,852,9..]
usu.description = Utah State University
usu.digitizing_source = usup
usu.enum_field = 955
usu.enum_sfield = v
usu.namespace = usu
usu.ftps_account = ht-usu
usu.oclc_field = 035a
usu.oclc_function = get_oclc_num
usu.source = USU
usu.sysnum_function = sdr_id_from_001
