utk-1.bar_field = 955
utk-1.bar_sfield = b
utk-1.bar_field_mult = 1  
utk-1.campus_code = utk
utk-1.collection = TU
utk-1.contrib_sys = Alma
utk-1.delete_field_tags = [852,856,9..]
utk-1.description = University of Tennessee
utk-1.digitizing_source = utk
utk-1.enum_field = 955
utk-1.enum_sfield = v
utk-1.ftps_account = ht-utk
utk-1.namespace = utk
utk-1.oclc_field = 035a
utk-1.oclc_function = get_oclc_num
utk-1.source = TU
utk-1.sysnum_function = sdr_id_from_001
utk-1.sysnum_separator = .
