uva-2.bar_field = 955
uva-2.bar_field_mult = 1 
uva-2.bar_sfield = i
uva-2.campus_code = uva
uva-2.collection = UVA
uva-2.contrib_sys = Symphony 
uva-2.delete_field_tags = [856,852,9..]
uva-2.description = University of Virginia
uva-2.digitizing_source = virginia
uva-2.enum_field = 955
uva-2.enum_sfield = v
uva-2.ftps_account = ht-uva
uva-2.namespace = uva
uva-2.oclc_field = 035a
uva-2.oclc_function = get_oclc_num
uva-2.source = UVA
uva-2.sysnum_function = sdr_id_from_002
uva-2.sysnum_separator = .
