uva.bar_field = 955
uva.bar_field_mult = 1
uva.bar_sfield = i
uva.collection = uva
uva.contrib_sys = unknown
uva.delete_field_tags = [856,852,9..]
uva.description = University of Virginia
uva.digitizing_source = google
uva.enum_field = 955
uva.enum_sfield = v
uva.ftps_account = ht-uva
uva.namespace = uva
uva.oclc_field = 035a
uva.oclc_function = get_oclc_num
uva.source = UVA
uva.sysnum_function = sdr_id_from_002
uva.sysnum_separator = .
