wau-loc.bar_field = 955
wau-loc.bar_sfield = b
wau-loc.campus_code = wau
wau-loc.collection = WAU
wau-loc.contrib_sys = Ex Libris - ALMA
wau-loc.delete_field_tags = [856,852,9..]
wau-loc.description = University of Washington Libraries  - locally digitized
wau-loc.digitizing_source = wau
wau-loc.enum_field = 955
wau-loc.enum_sfield = v
wau-loc.ftps_account = ht-wau
wau-loc.namespace = wau
wau-loc.oclc_field = 035a
wau-loc.oclc_function = get_oclc_num
wau-loc.source = wau
wau-loc.sysnum_function = sdr_id_from_001
