wau-chtanc.bar_field = 955
wau-chtanc.bar_sfield = b
wau-chtanc.collection = WAU
wau-chtanc.contrib_sys = Ex Libris - ALMA
wau-chtanc.delete_field_tags = [856,852,9..]
wau-chtanc.description = University of Washington Libraries - chtanc
wau-chtanc.digitizing_source = chtanc
wau-chtanc.enum_field = 955
wau-chtanc.enum_sfield = v
wau-chtanc.ftps_account = ht-wau
wau-chtanc.namespace = wau
wau-chtanc.oclc_field = 035a
wau-chtanc.oclc_function = get_oclc_num
wau-chtanc.source = wau
wau-chtanc.sysnum_function = sdr_id_from_001
