wu.bar_field = 955
wu.bar_sfield = b
wu.collection = WU
wu.contrib_sys = unknown
wu.delete_field_tags = [856,852,9..]
wu.description = University of Wisconsin
wu.digitizing_source = google
wu.enum_field = 955
wu.enum_sfield = v
wu.ftps_account = ht-wu
wu.namespace = wu
wu.oclc_field = 035a
wu.oclc_function = get_oclc_num
wu.source = WU
wu.sysnum_function = sdr_id_from_001
