yale-loc.bar_field = 955
yale-loc.bar_sfield = b
yale-loc.collection = YALE
yale-loc.contrib_sys = Ex Libris - Voyager
yale-loc.delete_field_tags = [852,9..]
yale-loc.description = Yale University
yale-loc.digitizing_source = yale2
yale-loc.enum_field = 955
yale-loc.enum_sfield = v
yale-loc.ftps_account = ht-yale
yale-loc.namespace = yul
yale-loc.oclc_field = 035
yale-loc.oclc_function = get_oclc_num
yale-loc.source = YALE
yale-loc.sysnum_function = sdr_id_from_001
