yale.bar_field = 955
yale.bar_sfield = b
yale.campus_code = yale
yale.collection = YALE
yale.contrib_sys = unknown
yale.delete_field_tags = [856,852,9..]
yale.description = Yale University - pre May File
yale.digitizing_source = yale
yale.enum_field = 955
yale.enum_fix = 1
yale.enum_sfield = v
yale.ftps_account = ht-yale
yale.namespace = yale
yale.oclc_field = 035a
yale.oclc_function = get_oclc_num
yale.skip_if_no_oclc_number = 1
yale.source = YALE
yale.sysnum_function = sdr_id_from_001
