yale-4.bar_field = 955
yale-4.bar_sfield = b
yale-4.campus_code = yale
yale-4.collection = YALE
yale-4.contrib_sys = unknown
yale-4.delete_field_tags = [856,852,9..]
yale-4.description = Yale University
yale-4.digitizing_source = yale
yale-4.enum_field = 955
yale-4.enum_sfield = v
yale-4.ftps_account = ht-yale
yale-4.namespace = yale
yale-4.oclc_field = 079a
yale-4.oclc_function = get_oclc_num
yale-4.source = YALE
yale-4.sysnum_function = sdr_id_from_001
