yale-may.bar_field = 955
yale-may.bar_sfield = b
yale-may.campus_code = yale
yale-may.collection = YALE
yale-may.contrib_sys = unknown
yale-may.delete_field_tags = [856,852,9..]
yale-may.description = Yale University - May File
yale-may.digitizing_source = yale
yale-may.enum_field = 955
yale-may.enum_fix = 1
yale-may.enum_sfield = v
yale-may.ftps_account = ht-yale
yale-may.namespace = yale
yale-may.oclc_field = 079a
yale-may.oclc_function = get_oclc_num
yale-may.skip_if_no_oclc_number = 1
yale-may.source = YALE
yale-may.sysnum_function = sdr_id_from_001
