yale-6.bar_field = 955
yale-6.bar_sfield = b
yale-6.campus_code = yale
yale-6.collection = YALE
yale-6.contrib_sys = Alma
yale-6.delete_field_tags = [079,852,856,9..]
yale-6.description = Yale University
yale-6.digitizing_source = yale2
yale-6.enum_field = 955
yale-6.enum_sfield = v
yale-6.ftps_account = ht-yale
yale-6.namespace = yul
yale-6.oclc_field = 035a
yale-6.oclc_function = get_oclc_num
yale-6.previous_contrib_sys = [Ex_Libris_-_Voyager]
yale-6.previous_sys = [(CtY)Voyager]
yale-6.previous_sys_field = 035z
yale-6.source = YALE
yale-6.sysnum_function = sdr_id_from_001
yale-6.sysnum_separator = .
