yale-5.bar_field = 955
yale-5.bar_sfield = b
yale-5.campus_code = yale
yale-5.collection = YALE
yale-5.contrib_sys = Ex Libris - Voyager
yale-5.delete_field_tags = [852,9..]
yale-5.description = Yale University
yale-5.digitizing_source = yale2
yale-5.enum_field = 955
yale-5.enum_sfield = v
yale-5.ftps_account = ht-yale
yale-5.namespace = yul
yale-5.oclc_field = 079a
yale-5.oclc_function = get_oclc_num
yale-5.source = YALE
yale-5.sysnum_function = sdr_id_from_001
