zephir-upd.bar_field = 974
zephir-upd.bar_sfield = u
zephir-upd.campus_code_field = CATa
zephir-upd.collection_field = HOLc
zephir-upd.contrib_sys_field = CATd
zephir-upd.delete_field_tags = [CAT,DAT,HOL,FMT,9..]
zephir-upd.dont_check_field_values = 1
zephir-upd.dont_sort_tags = 1
zephir-upd.description = Zephir updates (fix CIDs)
zephir-upd.digitizing_source_field = 974s
zephir-upd.enum_field = 974
zephir-upd.enum_sfield = z
zephir-upd.ia_id_field = 974
zephir-upd.ia_id_sfield = 8
zephir-upd.namespace_field = HOLa
zephir-upd.oclc_field = 035a
zephir-upd.oclc_function = get_oclc_num
zephir-upd.sdrID_field = HOL0
zephir-upd.source_field = HOLs
zephir-upd.sysnum_field = HOL
zephir-upd.sysnum_function = sdr_id_from_field
zephir-upd.sysnum_sfield = 1
